In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_projects = pd.read_csv("/content/drive/MyDrive/data_practices/data warehouse/data/archive/projects_data.csv")

<ipython-input-3-525ec24e9264>:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  df_projects = pd.read_csv("/content/drive/MyDrive/data_practices/data warehouse/data/archive/projects_data.csv")

In [ ]:
df_projects.dtypes

id                           object
regionname                   object
countryname                  object
prodline                     object
lendinginstr                 object
lendinginstrtype             object
envassesmentcategorycode     object
supplementprojectflg         object
productlinetype              object
projectstatusdisplay         object
status                       object
project_name                 object
boardapprovaldate            object
board_approval_month         object
closingdate                  object
lendprojectcost              object
ibrdcommamt                  object
idacommamt                   object
totalamt                     object
grantamt                     object
borrower                     object
impagency                    object
url                          object
projectdoc                  float64
majorsector_percent         float64
sector1                      object
sector2                      object
sector3                      object
sector4                      object
sector5                      object
sector                       object
mjsector1                   float64
mjsector2                   float64
mjsector3                   float64
mjsector4                   float64
mjsector5                   float64
mjsector                     object
theme1                       object
theme2                       object
theme3                       object
theme4                       object
theme5                       object
theme                       float64
goal                         object
financier                    object
mjtheme1name                float64
mjtheme2name                float64
mjtheme3name                float64
mjtheme4name                float64
mjtheme5name                float64
location                     object
GeoLocID                     object
GeoLocName                   object
Latitude                     object
Longitude                    object
Country                      object
Unnamed: 56                 float64
dtype: object

In [ ]:
df_projects = pd.read_csv("/content/drive/MyDrive/data_practices/data warehouse/data/archive/projects_data.csv", dtype="str")
df_projects.dtypes

id                          object
regionname                  object
countryname                 object
prodline                    object
lendinginstr                object
lendinginstrtype            object
envassesmentcategorycode    object
supplementprojectflg        object
productlinetype             object
projectstatusdisplay        object
status                      object
project_name                object
boardapprovaldate           object
board_approval_month        object
closingdate                 object
lendprojectcost             object
ibrdcommamt                 object
idacommamt                  object
totalamt                    object
grantamt                    object
borrower                    object
impagency                   object
url                         object
projectdoc                  object
majorsector_percent         object
sector1                     object
sector2                     object
sector3                     object
sector4                     object
sector5                     object
sector                      object
mjsector1                   object
mjsector2                   object
mjsector3                   object
mjsector4                   object
mjsector5                   object
mjsector                    object
theme1                      object
theme2                      object
theme3                      object
theme4                      object
theme5                      object
theme                       object
goal                        object
financier                   object
mjtheme1name                object
mjtheme2name                object
mjtheme3name                object
mjtheme4name                object
mjtheme5name                object
location                    object
GeoLocID                    object
GeoLocName                  object
Latitude                    object
Longitude                   object
Country                     object
Unnamed: 56                 object
dtype: object

In [ ]:
df_projects.head()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN

In [ ]:
df_projects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18248 entries, 0 to 18247
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18248 non-null  object
 1   regionname                18248 non-null  object
 2   countryname               18248 non-null  object
 3   prodline                  18248 non-null  object
 4   lendinginstr              18002 non-null  object
 5   lendinginstrtype          18002 non-null  object
 6   envassesmentcategorycode  12437 non-null  object
 7   supplementprojectflg      18195 non-null  object
 8   productlinetype           18248 non-null  object
 9   projectstatusdisplay      18244 non-null  object
 10  status                    18244 non-null  object
 11  project_name              18248 non-null  object
 12  boardapprovaldate         16744 non-null  object
 13  board_approval_month      16744 non-null  object
 14  closingdate               14899 non-null  object
 15  lendprojectcost           18123 non-null  object
 16  ibrdcommamt               18248 non-null  object
 17  idacommamt                18248 non-null  object
 18  totalamt                  18248 non-null  object
 19  grantamt                  18248 non-null  object
 20  borrower                  12329 non-null  object
 21  impagency                 12151 non-null  object
 22  url                       18248 non-null  object
 23  projectdoc                0 non-null      object
 24  majorsector_percent       0 non-null      object
 25  sector1                   18248 non-null  object
 26  sector2                   9527 non-null   object
 27  sector3                   6487 non-null   object
 28  sector4                   4376 non-null   object
 29  sector5                   2713 non-null   object
 30  sector                    17610 non-null  object
 31  mjsector1                 0 non-null      object
 32  mjsector2                 0 non-null      object
 33  mjsector3                 0 non-null      object
 34  mjsector4                 0 non-null      object
 35  mjsector5                 0 non-null      object
 36  mjsector                  17610 non-null  object
 37  theme1                    18248 non-null  object
 38  theme2                    9853 non-null   object
 39  theme3                    7484 non-null   object
 40  theme4                    5234 non-null   object
 41  theme5                    2928 non-null   object
 42  theme                     0 non-null      object
 43  goal                      12133 non-null  object
 44  financier                 7060 non-null   object
 45  mjtheme1name              0 non-null      object
 46  mjtheme2name              0 non-null      object
 47  mjtheme3name              0 non-null      object
 48  mjtheme4name              0 non-null      object
 49  mjtheme5name              0 non-null      object
 50  location                  4326 non-null   object
 51  GeoLocID                  4326 non-null   object
 52  GeoLocName                4325 non-null   object
 53  Latitude                  4326 non-null   object
 54  Longitude                 4326 non-null   object
 55  Country                   4203 non-null   object
 56  Unnamed: 56               0 non-null      object
dtypes: object(57)
memory usage: 7.9+ MB

In [ ]:
df_projects.describe()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
count,18248,18248,18248,18248,18002,18002,12437,18195,18248,18244,...,0,0,0,4326,4326,4325,4326,4326,4203,0
unique,18248,7,206,10,18,4,6,2,1,4,...,0,0,0,3882,3750,3808,3727,3752,2048,0
top,P162228,Africa,Republic of India;Republic of India,PE,Specific Investment Loan,IN,B,N,L,Closed,...,NaN,NaN,NaN,0000281132!$!Gaza Strip!$!31.41667!$!34.333328...,0000281132;0000285153,Gaza Strip;West Bank,31.41667;31.66667,34.333328;35.25,CN,NaN
freq,1,5710,784,14685,7626,15916,5586,16323,18248,14055,...,NaN,NaN,NaN,13,17,17,17,13,58,NaN

In [ ]:
df_projects.isnull().sum()

id                              0
regionname                      0
countryname                     0
prodline                        0
lendinginstr                  246
lendinginstrtype              246
envassesmentcategorycode     5811
supplementprojectflg           53
productlinetype                 0
projectstatusdisplay            4
status                          4
project_name                    0
boardapprovaldate            1504
board_approval_month         1504
closingdate                  3349
lendprojectcost               125
ibrdcommamt                     0
idacommamt                      0
totalamt                        0
grantamt                        0
borrower                     5919
impagency                    6097
url                             0
projectdoc                  18248
majorsector_percent         18248
sector1                         0
sector2                      8721
sector3                     11761
sector4                     13872
sector5                     15535
sector                        638
mjsector1                   18248
mjsector2                   18248
mjsector3                   18248
mjsector4                   18248
mjsector5                   18248
mjsector                      638
theme1                          0
theme2                       8395
theme3                      10764
theme4                      13014
theme5                      15320
theme                       18248
goal                         6115
financier                   11188
mjtheme1name                18248
mjtheme2name                18248
mjtheme3name                18248
mjtheme4name                18248
mjtheme5name                18248
location                    13922
GeoLocID                    13922
GeoLocName                  13923
Latitude                    13922
Longitude                   13922
Country                     14045
Unnamed: 56                 18248
dtype: int64

In [ ]:
df_projects.shape

(18248, 57)

population

In [ ]:
df_population = pd.read_csv("/content/drive/MyDrive/data_practices/data warehouse/data/archive/population_data.csv", skiprows=3)
df_population.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2014              float64
2015              float64
2016              float64
2017              float64
Unnamed: 62       float64
Length: 63, dtype: object

In [ ]:
df_population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN

In [ ]:
df_population.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                4
                 ...
2014                2
2015                2
2016                2
2017                2
Unnamed: 62       264
Length: 63, dtype: int64

In [ ]:
df_population.shape

(264, 63)

In [ ]:
df_population.isnull().sum(axis=1)

0      1
1      1
2      1
3      1
4      1
      ..
259    1
260    1
261    1
262    1
263    1
Length: 264, dtype: int64

In [ ]:
print(df_population)

     Country Name Country Code     Indicator Name Indicator Code        1960  \
0           Aruba          ABW  Population, total    SP.POP.TOTL     54211.0
1     Afghanistan          AFG  Population, total    SP.POP.TOTL   8996351.0
2          Angola          AGO  Population, total    SP.POP.TOTL   5643182.0
3         Albania          ALB  Population, total    SP.POP.TOTL   1608800.0
4         Andorra          AND  Population, total    SP.POP.TOTL     13411.0
..            ...          ...                ...            ...         ...
259        Kosovo          XKX  Population, total    SP.POP.TOTL    947000.0
260   Yemen, Rep.          YEM  Population, total    SP.POP.TOTL   5172135.0
261  South Africa          ZAF  Population, total    SP.POP.TOTL  17456855.0
262        Zambia          ZMB  Population, total    SP.POP.TOTL   3044846.0
263      Zimbabwe          ZWE  Population, total    SP.POP.TOTL   3747369.0

           1961        1962        1963        1964        1965  ...  \
0       55438.0     56225.0     56695.0     57032.0     57360.0  ...
1     9166764.0   9345868.0   9533954.0   9731361.0   9938414.0  ...
2     5753024.0   5866061.0   5980417.0   6093321.0   6203299.0  ...
3     1659800.0   1711319.0   1762621.0   1814135.0   1864791.0  ...
4       14375.0     15370.0     16412.0     17469.0     18549.0  ...
..          ...         ...         ...         ...         ...  ...
259    966000.0    994000.0   1022000.0   1050000.0   1078000.0  ...
260   5260501.0   5351799.0   5446063.0   5543339.0   5643643.0  ...
261  17920673.0  18401608.0  18899275.0  19412975.0  19942303.0  ...
262   3140264.0   3240587.0   3345145.0   3452942.0   3563407.0  ...
263   3870756.0   3999419.0   4132756.0   4269863.0   4410212.0  ...

           2009        2010        2011        2012        2013        2014  \
0      101453.0    101669.0    102053.0    102577.0    103187.0    103795.0
1    28004331.0  28803167.0  29708599.0  30696958.0  31731688.0  32758020.0
2    22549547.0  23369131.0  24218565.0  25096150.0  25998340.0  26920466.0
3     2927519.0   2913021.0   2905195.0   2900401.0   2895092.0   2889104.0
4       84462.0     84449.0     83751.0     82431.0     80788.0     79223.0
..          ...         ...         ...         ...         ...         ...
259   1761474.0   1775680.0   1791000.0   1805200.0   1824100.0   1821800.0
260  22974929.0  23606779.0  24252206.0  24909969.0  25576322.0  26246327.0
261  50970818.0  51584663.0  52263516.0  52998213.0  53767396.0  54539571.0
262  13456417.0  13850033.0  14264756.0  14699937.0  15153210.0  15620974.0
263  13810599.0  14086317.0  14386649.0  14710826.0  15054506.0  15411675.0

           2015        2016        2017  Unnamed: 62
0      104341.0    104822.0    105264.0          NaN
1    33736494.0  34656032.0  35530081.0          NaN
2    27859305.0  28813463.0  29784193.0          NaN
3     2880703.0   2876101.0   2873457.0          NaN
4       78014.0     77281.0     76965.0          NaN
..          ...         ...         ...          ...
259   1801800.0   1816200.0   1830700.0          NaN
260  26916207.0  27584213.0  28250420.0          NaN
261  55291225.0  56015473.0  56717156.0          NaN
262  16100587.0  16591390.0  17094130.0          NaN
263  15777451.0  16150362.0  16529904.0          NaN

[264 rows x 63 columns]

In [ ]:
df_population = df_population.drop('Unnamed: 62', axis=1)

In [ ]:
print(df_population)

     Country Name Country Code     Indicator Name Indicator Code        1960  \
0           Aruba          ABW  Population, total    SP.POP.TOTL     54211.0
1     Afghanistan          AFG  Population, total    SP.POP.TOTL   8996351.0
2          Angola          AGO  Population, total    SP.POP.TOTL   5643182.0
3         Albania          ALB  Population, total    SP.POP.TOTL   1608800.0
4         Andorra          AND  Population, total    SP.POP.TOTL     13411.0
..            ...          ...                ...            ...         ...
259        Kosovo          XKX  Population, total    SP.POP.TOTL    947000.0
260   Yemen, Rep.          YEM  Population, total    SP.POP.TOTL   5172135.0
261  South Africa          ZAF  Population, total    SP.POP.TOTL  17456855.0
262        Zambia          ZMB  Population, total    SP.POP.TOTL   3044846.0
263      Zimbabwe          ZWE  Population, total    SP.POP.TOTL   3747369.0

           1961        1962        1963        1964        1965  ...  \
0       55438.0     56225.0     56695.0     57032.0     57360.0  ...
1     9166764.0   9345868.0   9533954.0   9731361.0   9938414.0  ...
2     5753024.0   5866061.0   5980417.0   6093321.0   6203299.0  ...
3     1659800.0   1711319.0   1762621.0   1814135.0   1864791.0  ...
4       14375.0     15370.0     16412.0     17469.0     18549.0  ...
..          ...         ...         ...         ...         ...  ...
259    966000.0    994000.0   1022000.0   1050000.0   1078000.0  ...
260   5260501.0   5351799.0   5446063.0   5543339.0   5643643.0  ...
261  17920673.0  18401608.0  18899275.0  19412975.0  19942303.0  ...
262   3140264.0   3240587.0   3345145.0   3452942.0   3563407.0  ...
263   3870756.0   3999419.0   4132756.0   4269863.0   4410212.0  ...

           2008        2009        2010        2011        2012        2013  \
0      101353.0    101453.0    101669.0    102053.0    102577.0    103187.0
1    27294031.0  28004331.0  28803167.0  29708599.0  30696958.0  31731688.0
2    21759420.0  22549547.0  23369131.0  24218565.0  25096150.0  25998340.0
3     2947314.0   2927519.0   2913021.0   2905195.0   2900401.0   2895092.0
4       83861.0     84462.0     84449.0     83751.0     82431.0     80788.0
..          ...         ...         ...         ...         ...         ...
259   1747383.0   1761474.0   1775680.0   1791000.0   1805200.0   1824100.0
260  22356391.0  22974929.0  23606779.0  24252206.0  24909969.0  25576322.0
261  50412129.0  50970818.0  51584663.0  52263516.0  52998213.0  53767396.0
262  13082517.0  13456417.0  13850033.0  14264756.0  14699937.0  15153210.0
263  13558469.0  13810599.0  14086317.0  14386649.0  14710826.0  15054506.0

           2014        2015        2016        2017
0      103795.0    104341.0    104822.0    105264.0
1    32758020.0  33736494.0  34656032.0  35530081.0
2    26920466.0  27859305.0  28813463.0  29784193.0
3     2889104.0   2880703.0   2876101.0   2873457.0
4       79223.0     78014.0     77281.0     76965.0
..          ...         ...         ...         ...
259   1821800.0   1801800.0   1816200.0   1830700.0
260  26246327.0  26916207.0  27584213.0  28250420.0
261  54539571.0  55291225.0  56015473.0  56717156.0
262  15620974.0  16100587.0  16591390.0  17094130.0
263  15411675.0  15777451.0  16150362.0  16529904.0

[264 rows x 62 columns]

In [ ]:
df_population.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
259    0
260    0
261    0
262    0
263    0
Length: 264, dtype: int64

In [ ]:
df_population[df_population.isnull().any(axis=1)]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
67,Eritrea,ERI,"Population, total",SP.POP.TOTL,1397491.0,1432640.0,1469645.0,1508273.0,1548187.0,1589179.0,...,4232636.0,4310334.0,4390840.0,4474690.0,NaN,NaN,NaN,NaN,NaN,NaN
108,Not classified,INX,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Kuwait,KWT,"Population, total",SP.POP.TOTL,269618.0,301336.0,338296.0,379891.0,425235.0,473554.0,...,2652340.0,2818939.0,2998083.0,3191051.0,3395556.0,3598385.0,3782450.0,3935794.0,4052584.0,4136528.0
194,West Bank and Gaza,PSE,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,3596688.0,3702218.0,3811102.0,3927051.0,4046901.0,4169506.0,4294682.0,4422143.0,4551566.0,4684777.0
212,Serbia,SRB,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,7350222.0,7320807.0,7291436.0,7234099.0,7199077.0,7164132.0,7130576.0,7095383.0,7058322.0,7022268.0
223,Sint Maarten (Dutch part),SXM,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,33964.0,34238.0,34056.0,33435.0,34640.0,36607.0,37685.0,38824.0,39969.0,41109.0

# Extract from JSON and XML

In [ ]:
df_population_json = pd.read_json("/content/drive/MyDrive/data_practices/data warehouse/data/archive/population_data.json", orient="records")
df_population_json.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

Extract XML

In [ ]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.5)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
with open("/content/drive/MyDrive/data_practices/data warehouse/data/archive/population_data.xml") as fp:
  soup = BeautifulSoup(fp, "lxml")

In [ ]:
i = 0
# use the find_all method to get all record tags in the document
for record in soup.find_all('record'):
    # use the find_all method to get all fields in each record
    i += 1
    for record in record.find_all('field'):
        print(record['name'], ': ' , record.text)
    print()
    if i == 5:
        break

Country or Area :  Aruba
Item :  Population, total
Year :  1960
Value :  54211

Country or Area :  Aruba
Item :  Population, total
Year :  1961
Value :  55438

Country or Area :  Aruba
Item :  Population, total
Year :  1962
Value :  56225

Country or Area :  Aruba
Item :  Population, total
Year :  1963
Value :  56695

Country or Area :  Aruba
Item :  Population, total
Year :  1964
Value :  57032

# Extract Data from SQL Databases

In [ ]:
import sqlite3

conn = sqlite3.connect("/content/drive/MyDrive/data_practices/data warehouse/data/archive/population_data.db")


pd.read_sql("SELECT * FROM population_data", conn)

,index,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

In [ ]:
pd.read_sql('SELECT "Country_Name", "Country_Code", "1960" FROM population_data', conn)

     Country_Name Country_Code        1960
0           Aruba          ABW     54211.0
1     Afghanistan          AFG   8996351.0
2          Angola          AGO   5643182.0
3         Albania          ALB   1608800.0
4         Andorra          AND     13411.0
..            ...          ...         ...
259        Kosovo          XKX    947000.0
260   Yemen, Rep.          YEM   5172135.0
261  South Africa          ZAF  17456855.0
262        Zambia          ZMB   3044846.0
263      Zimbabwe          ZWE   3747369.0

[264 rows x 3 columns]

In [ ]:
from sqlalchemy import create_engine

In [ ]:
import requests

url = "http://api.worldbank.org/v2/countries/br;cn;us;de/indicators/SP.POP.TOTL/?format=json&per_page=1000"

r = requests.get(url)
r.json()

[{'page': 1,
  'pages': 1,
  'per_page': 1000,
  'total': 256,
  'sourceid': '2',
  'lastupdated': '2024-03-28'},
 [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2023',
   'value': None,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2022',
   'value': 215313498,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2021',
   'value': 214326223,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2020',
   'value': 213196304,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2019',
   'value': 211782878,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2018',
   'value': 210166592,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2017',
   'value': 208504960,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2016',
   'value': 206859578,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2015',
   'value': 205188205,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2014',
   'value': 203459650,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2013',
   'value': 201721767,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2012',
   'value': 199977707,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2011',
   'value': 198185302,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2010',
   'value': 196353492,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2009',
   'value': 194517549,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2008',
   'value': 192672317,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2007',
   'value': 190779453,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2006',
   'value': 188820682,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2005',
   'value': 186797334,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2004',
   'value': 184722043,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2003',
   'value': 182629278,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2002',
   'value': 180476685,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2001',
   'value': 178211881,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2000',
   'value': 175873720,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1999',
   'value': 173486281,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1998',
   'value': 171039804,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1997',
   'value': 168546707,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1996',
   'value': 166037122,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1995',
   'value': 163515328,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1994',
   'value': 160980472,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1993',
   'value': 158440875,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1992',
   'value': 155900790,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1991',
   'value': 153336445,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1990',
   'value': 150706446,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1989',
   'value': 148003411,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1988',
   'value': 145253973,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1987',
   'value': 142466264,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1986',
   'value': 139643355,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1985',
   'value': 136783180,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1984',
   'value': 133888775,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1983',
   'value': 130977370,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1982',
   'value': 128065095,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1981',
   'value': 125168060,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1980',
   'value': 122288383,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1979',
   'value': 119447303,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1978',
   'value': 116664382,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1977',
   'value': 113939886,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1976',
   'value': 111286504,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1975',
   'value': 108700515,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1974',
   'value': 106167372,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1973',
   'value': 103666904,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1972',
   'value': 101194394,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1971',
   'value': 98766288,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1970',
   'value': 96369875,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1969',
   'value': 94000381,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1968',
   'value': 91659246,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1967',
   'value': 89323288,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1966',
   'value': 86979283,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1965',
   'value': 84623747,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1964',
   'value': 82262794,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1963',
   'value': 79915555,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1962',
   'value': 77599218,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1961',
   'value': 75330008,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1960',
   'value': 73092515,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2023',
   'value': None,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2022',
   'value': 1412175000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2021',
   'value': 1412360000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2020',
   'value': 1411100000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2019',
   'value': 1407745000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2018',
   'value': 1402760000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2017',
   'value': 1396215000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2016',
   'value': 1387790000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2015',
   'value': 1379860000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2014',
   'value': 1371860000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2013',
   'value': 1363240000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2012',
   'value': 1354190000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2011',
   'value': 1345035000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2010',
   'value': 1337705000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2009',
   'value': 1331260000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2008',
   'value': 1324655000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2007',
   'value': 1317885000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2006',
   'value': 1311020000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',

In [ ]:
pd.DataFrame(r.json()[1])

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'BR', 'value': 'Brazil'}",BRA,2023,NaN,,,0
1,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'BR', 'value': 'Brazil'}",BRA,2022,215313498.0,,,0
2,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'BR', 'value': 'Brazil'}",BRA,2021,214326223.0,,,0
3,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'BR', 'value': 'Brazil'}",BRA,2020,213196304.0,,,0
4,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'BR', 'value': 'Brazil'}",BRA,2019,211782878.0,,,0
...,...,...,...,...,...,...,...,...
251,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'US', 'value': 'United States'}",USA,1964,191889000.0,,,0
252,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'US', 'value': 'United States'}",USA,1963,189242000.0,,,0
253,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'US', 'value': 'United States'}",USA,1962,186538000.0,,,0
254,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'US', 'value': 'United States'}",USA,1961,183691000.0,,,0
255,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'US', 'value': 'United States'}",USA,1960,180671000.0,,,0

In [ ]:
# TODO: get the url ready
url = 'http://api.worldbank.org/v2/country/CH/indicator/SP.POP.TOTL/?format=json&date=1995:2001'

# TODO: send the request
r = requests.get(url)
r.json()

[{'page': 1,
  'pages': 1,
  'per_page': 50,
  'total': 7,
  'sourceid': '2',
  'lastupdated': '2024-03-28'},
 [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '2001',
   'value': 7229854,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '2000',
   'value': 7184250,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '1999',
   'value': 7143991,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '1998',
   'value': 7110001,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '1997',
   'value': 7088906,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '1996',
   'value': 7071850,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '1995',
   'value': 7040687,
   'unit': '',
   'obs_status': '',
   'decimal': 0}]]

# **Transform**

Combining Data

combining of electricity_access_percent and rural_population_percent csv files

In [ ]:
df_rural = pd.read_csv("/content/drive/MyDrive/data_practices/data warehouse/data/archive/rural_population_percent.csv", skiprows = 4)
df_rural.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873,NaN

In [ ]:
df_electricity = pd.read_csv("/content/drive/MyDrive/data_practices/data warehouse/data/archive/electricity_access_percent.csv", skiprows=4)
df_electricity.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN

In [ ]:
df_rural.drop(['Unnamed: 62'], axis=1, inplace=True)

KeyError: "['Unnamed: 62'] not found in axis"

In [ ]:
df_electricity.drop(['Unnamed: 62'], axis=1, inplace=True)
df_electricity

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,NaN
260,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,NaN
261,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,NaN
262,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,NaN
263,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,NaN

In [ ]:
df = pd.concat([df_rural, df_electricity])

In [ ]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873

In [ ]:
df_indicator = pd.read_csv('/content/drive/MyDrive/data_practices/data warehouse/data/archive/population_data.csv', skiprows=4)
df_indicator.drop(['Unnamed: 62'], axis=1, inplace=True)

# read in the projects data set with all columns type string
df_projects = pd.read_csv('/content/drive/MyDrive/data_practices/data warehouse/data/archive/projects_data.csv', dtype=str)
df_projects.drop(['Unnamed: 56'], axis=1, inplace=True)

In [ ]:
df_indicator.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

In [ ]:
df_projects.head()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme2name,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG

In [ ]:
df_indicator[['Country Name', 'Country Code']].drop_duplicates()

     Country Name Country Code
0           Aruba          ABW
1     Afghanistan          AFG
2          Angola          AGO
3         Albania          ALB
4         Andorra          AND
..            ...          ...
259        Kosovo          XKX
260   Yemen, Rep.          YEM
261  South Africa          ZAF
262        Zambia          ZMB
263      Zimbabwe          ZWE

[264 rows x 2 columns]

In [ ]:
df_projects['countryname'].unique()

array(['World;World',
       'Democratic Republic of the Congo;Democratic Republic of the Congo',
       "People's Republic of Bangladesh;People's Republic of Bangladesh",
       'Islamic  Republic of Afghanistan;Islamic  Republic of Afghanistan',
       'Federal Republic of Nigeria;Federal Republic of Nigeria',
       'Republic of Tunisia;Republic of Tunisia',
       'Lebanese Republic;Lebanese Republic',
       'Democratic Socialist Republic of Sri Lan;Democratic Socialist Republic of Sri Lan',
       'Nepal;Nepal', 'Kyrgyz Republic;Kyrgyz Republic',
       'Hashemite Kingdom of Jordan;Hashemite Kingdom of Jordan',
       'Republic of the Union of Myanmar;Republic of the Union of Myanmar',
       'Arab Republic of Egypt;Arab Republic of Egypt',
       'United Republic of Tanzania;United Republic of Tanzania',
       'Federal Democratic Republic of Ethiopia;Federal Democratic Republic of Ethiopia',
       'Burkina Faso;Burkina Faso',
       'Republic of Uzbekistan;Republic of Uzbekistan', 'Romania;Romania',
       'Republic of Ghana;Republic of Ghana',
       'Republic of Ecuador;Republic of Ecuador',
       'Socialist Republic of Vietnam;Socialist Republic of Vietnam',
       "People's Republic of China;People's Republic of China",
       'Republic of Senegal;Republic of Senegal', 'Grenada;Grenada',
       'Co-operative Republic of Guyana;Co-operative Republic of Guyana',
       'Central Africa;Central Africa',
       'Republic of Indonesia;Republic of Indonesia',
       'Republic of Kenya;Republic of Kenya',
       'Kingdom of Cambodia;Kingdom of Cambodia',
       'Republic of Angola;Republic of Angola',
       'Republic of India;Republic of India', 'Africa;Africa',
       'Republic of Zambia;Republic of Zambia',
       'Republic of Panama;Republic of Panama',
       'Kingdom of Tonga;Kingdom of Tonga',
       'Islamic Republic of Pakistan;Islamic Republic of Pakistan',
       'Republic of Niger;Republic of Niger',
       'Republic of Uganda;Republic of Uganda',
       'Republic of Madagascar;Republic of Madagascar',
       'Plurinational State of Bolivia;Plurinational State of Bolivia',
       'Kingdom of Morocco;Kingdom of Morocco',
       'Republic of Djibouti;Republic of Djibouti',
       'Somali Democratic Republic;Somali Democratic Republic',
       'Republic of Maldives;Republic of Maldives',
       'Central African Republic;Central African Republic',
       'Western Africa;Western Africa',
       'Republic of Cabo Verde;Republic of Cabo Verde',
       "Republic of Cote d'Ivoire;Republic of Cote d'Ivoire",
       'Montenegro;Montenegro', 'West Bank and Gaza;West Bank and Gaza',
       'Republic of Haiti;Republic of Haiti',
       'Republic of Guinea-Bissau;Republic of Guinea-Bissau',
       'Samoa;Samoa', 'Republic of Congo;Republic of Congo',
       'Federated States of Micronesia;Federated States of Micronesia',
       'Republic of the Marshall Islands;Republic of the Marshall Islands',
       'Republic of Rwanda;Republic of Rwanda',
       'Republic of Albania;Republic of Albania',
       'Republic of Burundi;Republic of Burundi',
       'Argentine Republic;Argentine Republic',
       'Pacific Islands;Pacific Islands',
       'Republic of Turkey;Republic of Turkey',
       'Democratic Republic of Sao Tome and Prin;Democratic Republic of Sao Tome and Prin',
       'Republic of The Gambia;Republic of The Gambia',
       "Lao People's Democratic Republic;Lao People's Democratic Republic",
       'Republic of Liberia;Republic of Liberia',
       'Republic of Benin;Republic of Benin',
       'Republic of Mozambique;Republic of Mozambique',
       'Kingdom of Bhutan;Kingdom of Bhutan',
       'Republic of Cameroon;Republic of Cameroon',
       'Republic of Chad;Republic of Chad',
       'Republic of Guinea;Republic of Guinea',
       'Republic of Yemen;Republic of Yemen',
       'Commonwealth of Dominica;Commonwealth of Dominica',
       'Republic of Palau;Republic of Palau',
       'Republic of Malawi;Republic of Malawi',
       'Republic of Serbia;Republic of Serbia',
       'Republic of Iraq;Republic of Iraq',
       'Republic of the Philippines;Republic of the Philippines',
       'Solomon Islands;Solomon Islands',
       'Republic of Fiji;Republic of Fiji',
       'United Mexican States;United Mexican States',
       'Republic of Colombia;Republic of Colombia',
       'Republic of Peru;Republic of Peru',
       'Republic of Mali;Republic of Mali',
       'Islamic Republic of Mauritania;Islamic Republic of Mauritania',
       'Republic of Nicaragua;Republic of Nicaragua',
       'Republic of Belarus;Republic of Belarus', 'Jamaica;Jamaica',
       'Ukraine;Ukraine', 'Republic of Togo;Republic of Togo',
       'Republic of Guatemala;Republic of Guatemala',
       'Republic of Sierra Leone;Republic of Sierra Leone',
       'Republic of Moldova;Republic of Moldova',
       'Republic of Armenia;Republic of Armenia',
       'Republic of Costa Rica;Republic of Costa Rica',
       'Republic of Tajikistan;Republic of Tajikistan',
       'Latin America;Latin America',
       'Federative Republic of Brazil;Federative Republic of Brazil',
       'Bosnia and Herzegovina;Bosnia and Herzegovina',
       'Republic of Suriname;Republic of Suriname', 'Mongolia;Mongolia',
       'Oriental Republic of Uruguay;Oriental Republic of Uruguay',
       'Republic of Kiribati;Republic of Kiribati',
       'Kingdom of Lesotho;Kingdom of Lesotho', 'Tuvalu;Tuvalu',
       'Southern Africa;Southern Africa', 'Georgia;Georgia',
       'Gabonese Republic;Gabonese Republic',
       'Republic of Chile;Republic of Chile',
       'Republic of Kosovo;Republic of Kosovo',
       'Dominican Republic;Dominican Republic',
       'Organization of Eastern Caribbean States;Organization of Eastern Caribbean States',
       'Caribbean;Caribbean', 'Republic of Zimbabwe;Republic of Zimbabwe',
       'Republic of Mauritius;Republic of Mauritius',
       'The Independent State of Papua New Guine;The Independent State of Papua New Guine',
       'Republic of Vanuatu;Republic of Vanuatu',
       'Eastern Africa;Eastern Africa',
       'St. Vincent and the Grenadines;St. Vincent and the Grenadines',
       'Republic of Honduras;Republic of Honduras',
       'Republic of South Sudan;Republic of South Sudan',
       'Republic of Croatia;Republic of Croatia',
       'Democratic Republic of Timor-Leste;Democratic Republic of Timor-Leste',
       'Republic of South Africa;Republic of South Africa',
       'Republic of Botswana;Republic of Botswana',
       'Republic of Kazakhstan;Republic of Kazakhstan',
       'Republic of Azerbaijan;Republic of Azerbaijan',
       'Kingdom of Swaziland;Kingdom of Swaziland',
       'Union of the Comoros;Union of the Comoros',
       'Turkmenistan;Turkmenistan',
       'Europe and Central Asia;Europe and Central Asia',
       'South Asia;South Asia',
       'Macedonia; former Yugoslav Republic of;Macedonia; former Yugoslav Republic of',
       'St. Lucia;St. Lucia', 'Belize;Belize',
       'Republic of Namibia;Republic of Namibia',
       'Republic of the Sudan;Republic of the Sudan',
       'Republic of Paraguay;Republic of Paraguay',
       'Western Balkans;Western Balkans',
       'East Asia and Pacific;East Asia and Pacific',
       'Republic of Bulgaria;Republic of Bulgaria',
       'Central Asia;Central Asia',
       'Republic of Seychelles;Republic of Seychelles',
       'Kingdom of Thailand;Kingdom of Thailand',
       'Republic of Poland;Republic of Poland',
       'Multi-Regional;Multi-Regional',
       'Republic of El Salvador;Republic of El Salvador',
       'Caucasus;Caucasus', 'Russian Federation;Russian Federation',
       'Middle East and North Africa;Middle East and North Africa',
       'Antigua and Barbuda;Antigua and Barbuda',
       'Central America;Central America',
       'Commonwealth of The Bahamas;Commonwealth of The Bahamas',
       'Republic of Trinidad and Tobago;Republic of Trinidad and Tobago',
       "Socialist People's Libyan Arab Jamahiriy;Socialist People's Libyan Arab Jamahiriy",
       'Czech Republic;Czech Republic',
       'Republic of Latvia;Republic of Latvia', 'Mekong;Mekong',
       'American Samoa;American Samoa',
       'Syrian Arab Republic;Syrian Arab Republic', 'Asia;Asia',
       'Andean Countries;Andean Countries', 'Hungary;Hungary',
       'Republic of Equatorial Guinea;Republic of Equatorial Guinea',
       "People's Democratic Republic of Algeria;People's Democratic Republic of Algeria",
       'Barbados;Barbados', 'Malaysia;Malaysia',
       'State of Eritrea;State of Eritrea', 'Mercosur;Mercosur',
       'Slovak Republic;Slovak Republic',
       'Republica Bolivariana de Venezuela;Republica Bolivariana de Venezuela',
       'Islamic Republic of Iran;Islamic Republic of Iran',
       'Republic of Lithuania;Republic of Lithuania',
       'St. Kitts and Nevis;St. Kitts and Nevis',
       'Republic of Korea;Republic of Korea',
       'Republic of Slovenia;Republic of Slovenia',
       'Republic of Estonia;Republic of Estonia',
       'Red Sea and Gulf of Aden;Red Sea and Gulf of Aden',
       'Aral Sea;Aral Sea', 'Republic of Cyprus;Republic of Cyprus',
       'Socialist Federal Republic of Yugoslavia;Socialist Federal Republic of Yugoslavia',
       'Portuguese Republic;Portuguese Republic',
       'Sultanate of Oman;Sultanate of Oman',
       'Hellenic Republic;Hellenic Republic',
       'Kingdom of Spain;Kingdom of Spain', 'Ireland;Ireland',
       'Republic of Singapore;Republic of Singapore',
       'State of Israel;State of Israel',
       'Republic of Finland;Republic of Finland',
       'Republic of Iceland;Republic of Iceland',
       'New Zealand;New Zealand', 'Taiwan; China;Taiwan; China',
       'EU Accession Countries;EU Accession Countries',
       'Sint Maarten;Sint Maarten', 'Japan;Japan',
       'Italian Republic;Italian Republic',
       'Kingdom of Norway;Kingdom of Norway',
       'Republic of Malta;Republic of Malta',
       'Kingdom of Denmark;Kingdom of Denmark',
       'Republic of Austria;Republic of Austria',
       'Commonwealth of Australia;Commonwealth of Australia',
       'Kingdom of Belgium;Kingdom of Belgium',
       'Kingdom of the Netherlands;Kingdom of the Netherlands',
       'Grand Duchy of Luxembourg;Grand Duchy of Luxembourg',
       'French Republic;French Republic'], dtype=object)

In [ ]:
df_projects['Official Country Name'] = df_projects['countryname'].str.split(';').str.get(0)

df_projects.head()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Official Country Name
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,World
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democratic Republic of the Congo
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,People's Republic of Bangladesh
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Islamic Republic of Afghanistan
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,Federal Republic of Nigeria

In [ ]:
df_projects['location']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4        0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...
                               ...
18243                                                  NaN
18244                                                  NaN
18245                                                  NaN
18246                                                  NaN
18247                                                  NaN
Name: location, Length: 18248, dtype: object

In [ ]:
!pip install pycountry
from pycountry import countries

Collecting pycountry
  Downloading pycountry-23.12.11-py3-none-any.whl (6.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.2/6.2 MB 19.5 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-23.12.11

In [ ]:
countries.get(name='India')

Country(alpha_2='IN', alpha_3='IND', flag='🇮🇳', name='India', numeric='356', official_name='Republic of India')

In [ ]:
countries.lookup('Republic of India')

Country(alpha_2='IN', alpha_3='IND', flag='🇮🇳', name='India', numeric='356', official_name='Republic of India')

In [ ]:
# set up the libraries and variables
from collections import defaultdict
country_not_found = [] # stores countries not found in the pycountry library
project_country_abbrev_dict = defaultdict(str)  # set up an empty dictionary of string values

In [ ]:
df_projects

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Official Country Name
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,World
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democratic Republic of the Congo
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,People's Republic of Bangladesh
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Islamic Republic of Afghanistan
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,Federal Republic of Nigeria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,Latin America and Caribbean,Republic of Chile;Republic of Chile,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republic of Chile
18244,P037451,Europe and Central Asia,Grand Duchy of Luxembourg;Grand Duchy of Luxem...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Grand Duchy of Luxembourg
18245,P037362,Europe and Central Asia,Kingdom of Denmark;Kingdom of Denmark,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom of Denmark
18246,P037452,Europe and Central Asia,Kingdom of the Netherlands;Kingdom of the Neth...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom of the Netherlands
18247,P037383,Europe and Central Asia,French Republic;French Republic,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,French Republic

In [ ]:
# iterate through the country names in df_projects.
# Create a dictionary mapping the country name to the alpha_3 ISO code
for country in df_projects['Official Country Name'].drop_duplicates().sort_values():
    try:
        # look up the country name in the pycountry library
        # store the country name as the dictionary key and the ISO-3 code as the value
        project_country_abbrev_dict[country] = countries.lookup(country).alpha_3
    except:
        # If the country name is not in the pycountry library, then print out the country name
        # And store the results in the country_not_found list
        print(country, ' not found')
        country_not_found.append(country)

Africa  not found
Andean Countries  not found
Aral Sea  not found
Asia  not found
Caribbean  not found
Caucasus  not found
Central Africa  not found
Central America  not found
Central Asia  not found
Co-operative Republic of Guyana  not found
Commonwealth of Australia  not found
Democratic Republic of Sao Tome and Prin  not found
Democratic Republic of the Congo  not found
Democratic Socialist Republic of Sri Lan  not found
EU Accession Countries  not found
East Asia and Pacific  not found
Eastern Africa  not found
Europe and Central Asia  not found
Islamic  Republic of Afghanistan  not found
Kingdom of Swaziland  not found
Latin America  not found
Macedonia  not found
Mekong  not found
Mercosur  not found
Middle East and North Africa  not found
Multi-Regional  not found
Organization of Eastern Caribbean States  not found
Oriental Republic of Uruguay  not found
Pacific Islands  not found
Red Sea and Gulf of Aden  not found
Republic of Congo  not found
Republic of Cote d'Ivoire  not found
Republic of Korea  not found
Republic of Kosovo  not found
Republic of Niger  not found
Republic of Rwanda  not found
Republic of Togo  not found
Republic of Turkey  not found
Republic of the Union of Myanmar  not found
Republica Bolivariana de Venezuela  not found
Sint Maarten  not found
Socialist Federal Republic of Yugoslavia  not found
Socialist People's Libyan Arab Jamahiriy  not found
Socialist Republic of Vietnam  not found
Somali Democratic Republic  not found
South Asia  not found
Southern Africa  not found
St. Kitts and Nevis  not found
St. Lucia  not found
St. Vincent and the Grenadines  not found
State of Eritrea  not found
The Independent State of Papua New Guine  not found
West Bank and Gaza  not found
Western Africa  not found
Western Balkans  not found
World  not found

In [ ]:
df_projects['countryname'].shape

(18248,)

In [ ]:
df_projects['countryname'].unique()

array(['World;World',
       'Democratic Republic of the Congo;Democratic Republic of the Congo',
       "People's Republic of Bangladesh;People's Republic of Bangladesh",
       'Islamic  Republic of Afghanistan;Islamic  Republic of Afghanistan',
       'Federal Republic of Nigeria;Federal Republic of Nigeria',
       'Republic of Tunisia;Republic of Tunisia',
       'Lebanese Republic;Lebanese Republic',
       'Democratic Socialist Republic of Sri Lan;Democratic Socialist Republic of Sri Lan',
       'Nepal;Nepal', 'Kyrgyz Republic;Kyrgyz Republic',
       'Hashemite Kingdom of Jordan;Hashemite Kingdom of Jordan',
       'Republic of the Union of Myanmar;Republic of the Union of Myanmar',
       'Arab Republic of Egypt;Arab Republic of Egypt',
       'United Republic of Tanzania;United Republic of Tanzania',
       'Federal Democratic Republic of Ethiopia;Federal Democratic Republic of Ethiopia',
       'Burkina Faso;Burkina Faso',
       'Republic of Uzbekistan;Republic of Uzbekistan', 'Romania;Romania',
       'Republic of Ghana;Republic of Ghana',
       'Republic of Ecuador;Republic of Ecuador',
       'Socialist Republic of Vietnam;Socialist Republic of Vietnam',
       "People's Republic of China;People's Republic of China",
       'Republic of Senegal;Republic of Senegal', 'Grenada;Grenada',
       'Co-operative Republic of Guyana;Co-operative Republic of Guyana',
       'Central Africa;Central Africa',
       'Republic of Indonesia;Republic of Indonesia',
       'Republic of Kenya;Republic of Kenya',
       'Kingdom of Cambodia;Kingdom of Cambodia',
       'Republic of Angola;Republic of Angola',
       'Republic of India;Republic of India', 'Africa;Africa',
       'Republic of Zambia;Republic of Zambia',
       'Republic of Panama;Republic of Panama',
       'Kingdom of Tonga;Kingdom of Tonga',
       'Islamic Republic of Pakistan;Islamic Republic of Pakistan',
       'Republic of Niger;Republic of Niger',
       'Republic of Uganda;Republic of Uganda',
       'Republic of Madagascar;Republic of Madagascar',
       'Plurinational State of Bolivia;Plurinational State of Bolivia',
       'Kingdom of Morocco;Kingdom of Morocco',
       'Republic of Djibouti;Republic of Djibouti',
       'Somali Democratic Republic;Somali Democratic Republic',
       'Republic of Maldives;Republic of Maldives',
       'Central African Republic;Central African Republic',
       'Western Africa;Western Africa',
       'Republic of Cabo Verde;Republic of Cabo Verde',
       "Republic of Cote d'Ivoire;Republic of Cote d'Ivoire",
       'Montenegro;Montenegro', 'West Bank and Gaza;West Bank and Gaza',
       'Republic of Haiti;Republic of Haiti',
       'Republic of Guinea-Bissau;Republic of Guinea-Bissau',
       'Samoa;Samoa', 'Republic of Congo;Republic of Congo',
       'Federated States of Micronesia;Federated States of Micronesia',
       'Republic of the Marshall Islands;Republic of the Marshall Islands',
       'Republic of Rwanda;Republic of Rwanda',
       'Republic of Albania;Republic of Albania',
       'Republic of Burundi;Republic of Burundi',
       'Argentine Republic;Argentine Republic',
       'Pacific Islands;Pacific Islands',
       'Republic of Turkey;Republic of Turkey',
       'Democratic Republic of Sao Tome and Prin;Democratic Republic of Sao Tome and Prin',
       'Republic of The Gambia;Republic of The Gambia',
       "Lao People's Democratic Republic;Lao People's Democratic Republic",
       'Republic of Liberia;Republic of Liberia',
       'Republic of Benin;Republic of Benin',
       'Republic of Mozambique;Republic of Mozambique',
       'Kingdom of Bhutan;Kingdom of Bhutan',
       'Republic of Cameroon;Republic of Cameroon',
       'Republic of Chad;Republic of Chad',
       'Republic of Guinea;Republic of Guinea',
       'Republic of Yemen;Republic of Yemen',
       'Commonwealth of Dominica;Commonwealth of Dominica',
       'Republic of Palau;Republic of Palau',
       'Republic of Malawi;Republic of Malawi',
       'Republic of Serbia;Republic of Serbia',
       'Republic of Iraq;Republic of Iraq',
       'Republic of the Philippines;Republic of the Philippines',
       'Solomon Islands;Solomon Islands',
       'Republic of Fiji;Republic of Fiji',
       'United Mexican States;United Mexican States',
       'Republic of Colombia;Republic of Colombia',
       'Republic of Peru;Republic of Peru',
       'Republic of Mali;Republic of Mali',
       'Islamic Republic of Mauritania;Islamic Republic of Mauritania',
       'Republic of Nicaragua;Republic of Nicaragua',
       'Republic of Belarus;Republic of Belarus', 'Jamaica;Jamaica',
       'Ukraine;Ukraine', 'Republic of Togo;Republic of Togo',
       'Republic of Guatemala;Republic of Guatemala',
       'Republic of Sierra Leone;Republic of Sierra Leone',
       'Republic of Moldova;Republic of Moldova',
       'Republic of Armenia;Republic of Armenia',
       'Republic of Costa Rica;Republic of Costa Rica',
       'Republic of Tajikistan;Republic of Tajikistan',
       'Latin America;Latin America',
       'Federative Republic of Brazil;Federative Republic of Brazil',
       'Bosnia and Herzegovina;Bosnia and Herzegovina',
       'Republic of Suriname;Republic of Suriname', 'Mongolia;Mongolia',
       'Oriental Republic of Uruguay;Oriental Republic of Uruguay',
       'Republic of Kiribati;Republic of Kiribati',
       'Kingdom of Lesotho;Kingdom of Lesotho', 'Tuvalu;Tuvalu',
       'Southern Africa;Southern Africa', 'Georgia;Georgia',
       'Gabonese Republic;Gabonese Republic',
       'Republic of Chile;Republic of Chile',
       'Republic of Kosovo;Republic of Kosovo',
       'Dominican Republic;Dominican Republic',
       'Organization of Eastern Caribbean States;Organization of Eastern Caribbean States',
       'Caribbean;Caribbean', 'Republic of Zimbabwe;Republic of Zimbabwe',
       'Republic of Mauritius;Republic of Mauritius',
       'The Independent State of Papua New Guine;The Independent State of Papua New Guine',
       'Republic of Vanuatu;Republic of Vanuatu',
       'Eastern Africa;Eastern Africa',
       'St. Vincent and the Grenadines;St. Vincent and the Grenadines',
       'Republic of Honduras;Republic of Honduras',
       'Republic of South Sudan;Republic of South Sudan',
       'Republic of Croatia;Republic of Croatia',
       'Democratic Republic of Timor-Leste;Democratic Republic of Timor-Leste',
       'Republic of South Africa;Republic of South Africa',
       'Republic of Botswana;Republic of Botswana',
       'Republic of Kazakhstan;Republic of Kazakhstan',
       'Republic of Azerbaijan;Republic of Azerbaijan',
       'Kingdom of Swaziland;Kingdom of Swaziland',
       'Union of the Comoros;Union of the Comoros',
       'Turkmenistan;Turkmenistan',
       'Europe and Central Asia;Europe and Central Asia',
       'South Asia;South Asia',
       'Macedonia; former Yugoslav Republic of;Macedonia; former Yugoslav Republic of',
       'St. Lucia;St. Lucia', 'Belize;Belize',
       'Republic of Namibia;Republic of Namibia',
       'Republic of the Sudan;Republic of the Sudan',
       'Republic of Paraguay;Republic of Paraguay',
       'Western Balkans;Western Balkans',
       'East Asia and Pacific;East Asia and Pacific',
       'Republic of Bulgaria;Republic of Bulgaria',
       'Central Asia;Central Asia',
       'Republic of Seychelles;Republic of Seychelles',
       'Kingdom of Thailand;Kingdom of Thailand',
       'Republic of Poland;Republic of Poland',
       'Multi-Regional;Multi-Regional',
       'Republic of El Salvador;Republic of El Salvador',
       'Caucasus;Caucasus', 'Russian Federation;Russian Federation',
       'Middle East and North Africa;Middle East and North Africa',
       'Antigua and Barbuda;Antigua and Barbuda',
       'Central America;Central America',
       'Commonwealth of The Bahamas;Commonwealth of The Bahamas',
       'Republic of Trinidad and Tobago;Republic of Trinidad and Tobago',
       "Socialist People's Libyan Arab Jamahiriy;Socialist People's Libyan Arab Jamahiriy",
       'Czech Republic;Czech Republic',
       'Republic of Latvia;Republic of Latvia', 'Mekong;Mekong',
       'American Samoa;American Samoa',
       'Syrian Arab Republic;Syrian Arab Republic', 'Asia;Asia',
       'Andean Countries;Andean Countries', 'Hungary;Hungary',
       'Republic of Equatorial Guinea;Republic of Equatorial Guinea',
       "People's Democratic Republic of Algeria;People's Democratic Republic of Algeria",
       'Barbados;Barbados', 'Malaysia;Malaysia',
       'State of Eritrea;State of Eritrea', 'Mercosur;Mercosur',
       'Slovak Republic;Slovak Republic',
       'Republica Bolivariana de Venezuela;Republica Bolivariana de Venezuela',
       'Islamic Republic of Iran;Islamic Republic of Iran',
       'Republic of Lithuania;Republic of Lithuania',
       'St. Kitts and Nevis;St. Kitts and Nevis',
       'Republic of Korea;Republic of Korea',
       'Republic of Slovenia;Republic of Slovenia',
       'Republic of Estonia;Republic of Estonia',
       'Red Sea and Gulf of Aden;Red Sea and Gulf of Aden',
       'Aral Sea;Aral Sea', 'Republic of Cyprus;Republic of Cyprus',
       'Socialist Federal Republic of Yugoslavia;Socialist Federal Republic of Yugoslavia',
       'Portuguese Republic;Portuguese Republic',
       'Sultanate of Oman;Sultanate of Oman',
       'Hellenic Republic;Hellenic Republic',
       'Kingdom of Spain;Kingdom of Spain', 'Ireland;Ireland',
       'Republic of Singapore;Republic of Singapore',
       'State of Israel;State of Israel',
       'Republic of Finland;Republic of Finland',
       'Republic of Iceland;Republic of Iceland',
       'New Zealand;New Zealand', 'Taiwan; China;Taiwan; China',
       'EU Accession Countries;EU Accession Countries',
       'Sint Maarten;Sint Maarten', 'Japan;Japan',
       'Italian Republic;Italian Republic',
       'Kingdom of Norway;Kingdom of Norway',
       'Republic of Malta;Republic of Malta',
       'Kingdom of Denmark;Kingdom of Denmark',
       'Republic of Austria;Republic of Austria',
       'Commonwealth of Australia;Commonwealth of Australia',
       'Kingdom of Belgium;Kingdom of Belgium',
       'Kingdom of the Netherlands;Kingdom of the Netherlands',
       'Grand Duchy of Luxembourg;Grand Duchy of Luxembourg',
       'French Republic;French Republic'], dtype=object)

In [ ]:
# Run this cell to iterate through the country_not_found list and check if the country name is in the df_indicator data set
indicator_countries = df_indicator[['Country Name', 'Country Code']].drop_duplicates().sort_values(by='Country Name')

indicator_countries

           Country Name Country Code
1           Afghanistan          AFG
3               Albania          ALB
58              Algeria          DZA
9        American Samoa          ASM
4               Andorra          AND
..                  ...          ...
194  West Bank and Gaza          PSE
257               World          WLD
260         Yemen, Rep.          YEM
262              Zambia          ZMB
263            Zimbabwe          ZWE

[264 rows x 2 columns]

In [ ]:
for country in country_not_found:
    if country in indicator_countries['Country Name'].tolist():
        print(country)

South Asia
St. Kitts and Nevis
St. Lucia
St. Vincent and the Grenadines
West Bank and Gaza
World

In [ ]:
country_not_found_mapping = {'Co-operative Republic of Guyana': 'GUY',
             'Commonwealth of Australia':'AUS',
             'Democratic Republic of Sao Tome and Prin':'STP',
             'Democratic Republic of the Congo':'COD',
             'Democratic Socialist Republic of Sri Lan':'LKA',
             'East Asia and Pacific':'EAS',
             'Europe and Central Asia': 'ECS',
             'Islamic  Republic of Afghanistan':'AFG',
             'Latin America':'LCN',
              'Caribbean':'LCN',
             'Macedonia':'MKD',
             'Middle East and North Africa':'MEA',
             'Oriental Republic of Uruguay':'URY',
             'Republic of Congo':'COG',
             "Republic of Cote d'Ivoire":'CIV',
             'Republic of Korea':'KOR',
             'Republic of Niger':'NER',
             'Republic of Kosovo':'XKX',
             'Republic of Rwanda':'RWA',
              'Republic of The Gambia':'GMB',
              'Republic of Togo':'TGO',
              'Republic of the Union of Myanmar':'MMR',
              'Republica Bolivariana de Venezuela':'VEN',
              'Sint Maarten':'SXM',
              "Socialist People's Libyan Arab Jamahiriy":'LBY',
              'Socialist Republic of Vietnam':'VNM',
              'Somali Democratic Republic':'SOM',
              'South Asia':'SAS',
              'St. Kitts and Nevis':'KNA',
              'St. Lucia':'LCA',
              'St. Vincent and the Grenadines':'VCT',
              'State of Eritrea':'ERI',
              'The Independent State of Papua New Guine':'PNG',
              'West Bank and Gaza':'PSE',
              'World':'WLD'}

In [ ]:
# Update the project_country_abbrev_dict with the country_not_found_mapping dictionary
# HINT: This is relatively straightforward. Python dictionaries have a method called update(), which essentially
# appends a dictionary to another dictionary

project_country_abbrev_dict.update(country_not_found_mapping)

In [ ]:
# Use the project_country_abbrev_dict and the df_projects['Country Name'] column to make a new column
# of the alpha-3 country codes. This new column should be called 'Country Code'.

# HINT: Use the apply method and a lambda function
# HINT: The lambda function will use the project_country_abbrev_dict that maps the country name to the ISO code
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html

df_projects['Country Code'] = df_projects['Official Country Name'].apply(lambda x: project_country_abbrev_dict[x])

In [ ]:
df_projects[df_projects['Country Code'] == '']

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Official Country Name,Country Code
31,P166648,Africa,Central Africa;Central Africa,RE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Central Africa,
39,P163752,Africa,Africa;Africa,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,
58,P164728,Africa,Africa;Africa,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,
69,P161329,Africa,Western Africa;Western Africa,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Western Africa,
103,P164468,East Asia and Pacific,Pacific Islands;Pacific Islands,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,0002134431!$!Republic of Vanuatu!$!-16!$!167!$...,0002134431;0002135171,Republic of Vanuatu;Port-Vila,-16;-17.73381,167;168.32188,VU;VU,Pacific Islands,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18197,P009134,Europe and Central Asia,Socialist Federal Republic of Yugoslavia;Socia...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Socialist Federal Republic of Yugoslavia,
18215,P008873,Europe and Central Asia,Republic of Turkey;Republic of Turkey,PE,Financial Intermediary Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republic of Turkey,
18221,P008872,Europe and Central Asia,Republic of Turkey;Republic of Turkey,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republic of Turkey,
18222,P008874,Europe and Central Asia,Republic of Turkey;Republic of Turkey,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republic of Turkey,
18228,P009133,Europe and Central Asia,Socialist Federal Republic of Yugoslavia;Socia...,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Socialist Federal Republic of Yugoslavia,