<a href="https://colab.research.google.com/github/codal-tshah/data-practices-2024/blob/16_apr/PySpark/DataFrame_Displays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=bc6fa9f8f5a576e23e03731155059c25b378034eaf473ece9fc16501bde24c0c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [7]:
from pyspark import *
from pyspark.sql import DataFrame
help(DataFrame.write)

Help on property:

    Interface for saving the content of the non-streaming :class:`DataFrame` out into external
    storage.

    .. versionadded:: 1.4.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Returns
    -------
    :class:`DataFrameWriter`

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> type(df.write)
    <class '...readwriter.DataFrameWriter'>

    Write the DataFrame as a table.

    >>> _ = spark.sql("DROP TABLE IF EXISTS tab2")
    >>> df.write.saveAsTable("tab2")
    >>> _ = spark.sql("DROP TABLE tab2")

In [14]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext.getOrCreate();
spark = SparkSession(sc)

In [ ]:
data=[(1,'milanlshefwegdwegd;uwed;wevdiewv',56),(2,'rad;dbewiubdiuwehul',26),(3,'miqhdwwgdlwgdiwegdygweydghir',34),(4,'jay',21)]
schema=['id','name','age']
df = spark.createDataFrame(data=data,schema=schema)
df.show()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|milanlshefwegdweg...| 56|
|  2| rad;dbewiubdiuwehul| 26|
|  3|miqhdwwgdlwgdiweg...| 34|
|  4|                 jay| 21|
+---+--------------------+---+

show()

In [ ]:
df.show(truncate=False)

+---+--------------------------------+---+
|id |name                            |age|
+---+--------------------------------+---+
|1  |milanlshefwegdwegd;uwed;wevdiewv|56 |
|2  |rad;dbewiubdiuwehul             |26 |
|3  |miqhdwwgdlwgdiwegdygweydghir    |34 |
|4  |jay                             |21 |
+---+--------------------------------+---+

In [ ]:
df.show(truncate=12)

+---+------------+---+
| id|        name|age|
+---+------------+---+
|  1|milanlshe...| 56|
|  2|rad;dbewi...| 26|
|  3|miqhdwwgd...| 34|
|  4|         jay| 21|
+---+------------+---+

In [ ]:
df.show(n=2,truncate=False)

+---+--------------------------------+---+
|id |name                            |age|
+---+--------------------------------+---+
|1  |milanlshefwegdwegd;uwed;wevdiewv|56 |
|2  |rad;dbewiubdiuwehul             |26 |
+---+--------------------------------+---+
only showing top 2 rows

In [ ]:
df.show(n=2, vertical=True)

-RECORD 0--------------------
 id   | 1
 name | milanlshefwegdweg...
 age  | 56
-RECORD 1--------------------
 id   | 2
 name | rad;dbewiubdiuwehul
 age  | 26
only showing top 2 rows

withColumn()

In [ ]:
display(df)

DataFrame[id: bigint, name: string, age: bigint]

In [ ]:
df.show()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|milanlshefwegdweg...| 56|
|  2| rad;dbewiubdiuwehul| 26|
|  3|miqhdwwgdlwgdiweg...| 34|
|  4|                 jay| 21|
+---+--------------------+---+

In [ ]:
from pyspark.sql.functions import col, lit
df1 = df.withColumn(colName = 'age',col=col('age').cast('Integer'))
df1.show()
df1.printSchema()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|milanlshefwegdweg...| 56|
|  2| rad;dbewiubdiuwehul| 26|
|  3|miqhdwwgdlwgdiweg...| 34|
|  4|                 jay| 21|
+---+--------------------+---+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [ ]:
df2 = df1.withColumn('age',col('age')-2)
df2.show()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|milanlshefwegdweg...| 54|
|  2| rad;dbewiubdiuwehul| 24|
|  3|miqhdwwgdlwgdiweg...| 32|
|  4|                 jay| 19|
+---+--------------------+---+

In [ ]:
df3 = df1.withColumn('new_age',col('age')-15)
df3.show()

+---+--------------------+---+-------+
| id|                name|age|new_age|
+---+--------------------+---+-------+
|  1|milanlshefwegdweg...| 56|     41|
|  2| rad;dbewiubdiuwehul| 26|     11|
|  3|miqhdwwgdlwgdiweg...| 34|     19|
|  4|                 jay| 21|      6|
+---+--------------------+---+-------+

In [ ]:
df3 = df3.withColumn('country', lit(('USA')))
df3.show()

+---+--------------------+---+-------+-------+
| id|                name|age|new_age|country|
+---+--------------------+---+-------+-------+
|  1|milanlshefwegdweg...| 56|     41|    USA|
|  2| rad;dbewiubdiuwehul| 26|     11|    USA|
|  3|miqhdwwgdlwgdiweg...| 34|     19|    USA|
|  4|                 jay| 21|      6|    USA|
+---+--------------------+---+-------+-------+

withColumnRenamed()

In [ ]:
df4 = df3.withColumnRenamed('age', 'persons_age')
df4.show()

+---+--------------------+-----------+-------+-------+
| id|                name|persons_age|new_age|country|
+---+--------------------+-----------+-------+-------+
|  1|milanlshefwegdweg...|         56|     41|    USA|
|  2| rad;dbewiubdiuwehul|         26|     11|    USA|
|  3|miqhdwwgdlwgdiweg...|         34|     19|    USA|
|  4|                 jay|         21|      6|    USA|
+---+--------------------+-----------+-------+-------+

# **StructType() & StructField()**

In [17]:
from pyspark.sql.types import *

In [21]:
d = [(1,'lqwgdlyqwgdlgqlgd'),(2,'lqwugdqydqwlyd')]
d2 = spark.createDataFrame(d)
d2.show()
print(d2.describe())

+---+-----------------+
| _1|               _2|
+---+-----------------+
|  1|lqwgdlyqwgdlgqlgd|
|  2|   lqwugdqydqwlyd|
+---+-----------------+

DataFrame[summary: string, _1: string, _2: string]

In [25]:
d = [(1,'mihit','lqwgdlyqwgdlgqlgd'),(2,'hiren','lqwugdqydqwlyd')]
schema = StructType([\
                     StructField(name='id', dataType=IntegerType()),\
                     StructField(name='name', dataType=StringType()),\
                     StructField(name='description', dataType=StringType())])
d2 = spark.createDataFrame(d, schema)
d2.show()
d2.printSchema()

+---+-----+-----------------+
| id| name|      description|
+---+-----+-----------------+
|  1|mihit|lqwgdlyqwgdlgqlgd|
|  2|hiren|   lqwugdqydqwlyd|
+---+-----+-----------------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)

In [33]:
d = [(1,('mihit', 'vyas'),'lqwgdlyjbdwekubdqwgdlgqlgd'),(2,('hiren','patel'),'lqwluagiugaeeweweugdqydqwlyd')]
structName = StructType([\
                         StructField('firstName', StringType()),\
                         StructField('lastName', StringType())])
schema = StructType([\
                     StructField(name='id', dataType=IntegerType()),\
                     StructField(name='name', dataType=structName),\
                     StructField(name='description', dataType=StringType())])
d2 = spark.createDataFrame(d, schema)
d2.show()
d2.printSchema()
display(d2)

+---+--------------+--------------------+
| id|          name|         description|
+---+--------------+--------------------+
|  1| {mihit, vyas}|lqwgdlyjbdwekubdq...|
|  2|{hiren, patel}|lqwluagiugaeewewe...|
+---+--------------+--------------------+

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- firstName: string (nullable = true)
 |    |-- lastName: string (nullable = true)
 |-- description: string (nullable = true)

DataFrame[id: int, name: struct<firstName:string,lastName:string>, description: string]

In [35]:
import pandas as pd

# Your existing code
d = [
    (52, ('mihit', 'vyas'), 'lqwgdlyjbdwekubdqwgdlgqlgd'),
    (14, ('hiren', 'patel'), 'lqwluagiugaeeweweugdqydqwlyd')
]

# Define the schema
structName = StructType([
    StructField('firstName', StringType()),
    StructField('lastName', StringType())
])
schema = StructType([
    StructField(name='age', dataType=IntegerType()),
    StructField(name='name', dataType=structName),
    StructField(name='description', dataType=StringType())
])

# Create the DataFrame
d2 = spark.createDataFrame(d, schema)

# Convert DataFrame to Pandas DataFrame
df_pd = d2.toPandas()

# Display the Pandas DataFrame
display(df_pd)

   age            name                   description
0   52   (mihit, vyas)    lqwgdlyjbdwekubdqwgdlgqlgd
1   14  (hiren, patel)  lqwluagiugaeeweweugdqydqwlyd

In [40]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Define the data
data = [
    (45, ('John', 'Doe'), 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula tortor id augue accumsan, in consequat nisi gravida.'),
    (41, ('Jane', 'Smith'), 'Nullam convallis libero non eros volutpat malesuada. Morbi ut sapien nec felis pulvinar ultricies.'),
    (12, ('Alice', 'Johnson'), 'Vivamus venenatis, lacus ut accumsan sagittis, justo quam pretium turpis, eget elementum metus nulla eget ipsum.'),
    (20, ('Bob', 'Brown'), 'Phasellus porttitor felis non nunc pharetra, vel mattis elit vehicula.'),
    (30, ('Emily', 'Davis'), 'Donec quis tortor nec elit varius pharetra. Vivamus auctor orci at eros malesuada rutrum.'),
    (30, ('Michael', 'Wilson'), 'Fusce sit amet nisi sit amet eros consectetur auctor in nec nulla.')
]

# Define the schema for the nested structure
structName = StructType([
    StructField('firstName', StringType()),
    StructField('lastName', StringType())
])

# Define the schema for the DataFrame
schema = StructType([
    StructField('age', IntegerType()),
    StructField('name', structName),
    StructField('description', StringType())
])

# d2.show()

# # Create the DataFrame
d2 = spark.createDataFrame(data, schema)

# # Show the DataFrame
d2.show(truncate=False)
df_pd = d2.toPandas()

# Display the Pandas DataFrame
display(df_pd)

+---+-----------------+--------------------------------------------------------------------------------------------------------------------------+
|age|name             |description                                                                                                               |
+---+-----------------+--------------------------------------------------------------------------------------------------------------------------+
|45 |{John, Doe}      |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula tortor id augue accumsan, in consequat nisi gravida.|
|41 |{Jane, Smith}    |Nullam convallis libero non eros volutpat malesuada. Morbi ut sapien nec felis pulvinar ultricies.                        |
|12 |{Alice, Johnson} |Vivamus venenatis, lacus ut accumsan sagittis, justo quam pretium turpis, eget elementum metus nulla eget ipsum.          |
|20 |{Bob, Brown}     |Phasellus porttitor felis non nunc pharetra, vel mattis elit vehicula.                                                    |
|30 |{Emily, Davis}   |Donec quis tortor nec elit varius pharetra. Vivamus auctor orci at eros malesuada rutrum.                                 |
|30 |{Michael, Wilson}|Fusce sit amet nisi sit amet eros consectetur auctor in nec nulla.                                                        |
+---+-----------------+--------------------------------------------------------------------------------------------------------------------------+

   age               name                                        description
0   45        (John, Doe)  Lorem ipsum dolor sit amet, consectetur adipis...
1   41      (Jane, Smith)  Nullam convallis libero non eros volutpat male...
2   12   (Alice, Johnson)  Vivamus venenatis, lacus ut accumsan sagittis,...
3   20       (Bob, Brown)  Phasellus porttitor felis non nunc pharetra, v...
4   30     (Emily, Davis)  Donec quis tortor nec elit varius pharetra. Vi...
5   30  (Michael, Wilson)  Fusce sit amet nisi sit amet eros consectetur ...

In [41]:
from pyspark.sql.functions import *

In [42]:
d2.show()

+---+-----------------+--------------------+
|age|             name|         description|
+---+-----------------+--------------------+
| 45|      {John, Doe}|Lorem ipsum dolor...|
| 41|    {Jane, Smith}|Nullam convallis ...|
| 12| {Alice, Johnson}|Vivamus venenatis...|
| 20|     {Bob, Brown}|Phasellus porttit...|
| 30|   {Emily, Davis}|Donec quis tortor...|
| 30|{Michael, Wilson}|Fusce sit amet ni...|
+---+-----------------+--------------------+

In [50]:
data=[(1,('lwfuweblf', 'jfweulf'),56),(2,('lwb','jrb'),26),(3,('eedew','ww'),34),(4,('wleu','wliugf'),21)]
schema=['id','name','age']
df = spark.createDataFrame(data=data,schema=schema)
df.show()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|{lwfuweblf, jfweulf}| 56|
|  2|          {lwb, jrb}| 26|
|  3|         {eedew, ww}| 34|
|  4|      {wleu, wliugf}| 21|
+---+--------------------+---+

# **Create PySpark ArrayType Column Using StructType**

In [61]:
from pyspark.sql.types import StringType, ArrayType
arrayCol = ArrayType(StringType(),False)

In [62]:
data = [
 ("James,,Smith",["Java","Scala","C++"],["Spark","Java"],"OH","CA"),
 ("Michael,Rose,",["Spark","Java","C++"],["Spark","Java"],"NY","NJ"),
 ("Robert,,Williams",["CSharp","VB"],["Spark","Python"],"UT","NV")
]

from pyspark.sql.types import StringType, ArrayType,StructType,StructField
schema = StructType([
    StructField("name",StringType(),True),
    StructField("languagesAtSchool",ArrayType(StringType()),True),
    StructField("languagesAtWork",ArrayType(StringType()),True),
    StructField("currentState", StringType(), True),
    StructField("previousState", StringType(), True)
  ])

df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()
df.show()

root
 |-- name: string (nullable = true)
 |-- languagesAtSchool: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- languagesAtWork: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- currentState: string (nullable = true)
 |-- previousState: string (nullable = true)

+----------------+------------------+---------------+------------+-------------+
|            name| languagesAtSchool|languagesAtWork|currentState|previousState|
+----------------+------------------+---------------+------------+-------------+
|    James,,Smith|[Java, Scala, C++]|  [Spark, Java]|          OH|           CA|
|   Michael,Rose,|[Spark, Java, C++]|  [Spark, Java]|          NY|           NJ|
|Robert,,Williams|      [CSharp, VB]|[Spark, Python]|          UT|           NV|
+----------------+------------------+---------------+------------+-------------+

explode()

In [60]:
from pyspark.sql.functions import explode, col, array

# Define the data
data = [
    (1, ('lwfuweblf', 'jfweulf'), 56),
    (2, ('lwb', 'jrb'), 26),
    (3, ('eedew', 'ww'), 34),
    (4, ('wleu', 'wliugf'), 21)
]

# Define the schema
schema = ['id', 'name', 'age']

# Create the DataFrame
df = spark.createDataFrame(data=data, schema=schema)

# Convert the 'name' column to an array
df2 = df.withColumn('name_array', array('name._1', 'name._2'))

# Explode the 'name_array' column
df3 = df2.withColumn('names', explode(col('name_array')))

df3 = df3.drop('name_array')

# Show the DataFrame
df3.show(truncate=False)

+---+--------------------+---+---------+
|id |name                |age|names    |
+---+--------------------+---+---------+
|1  |{lwfuweblf, jfweulf}|56 |lwfuweblf|
|1  |{lwfuweblf, jfweulf}|56 |jfweulf  |
|2  |{lwb, jrb}          |26 |lwb      |
|2  |{lwb, jrb}          |26 |jrb      |
|3  |{eedew, ww}         |34 |eedew    |
|3  |{eedew, ww}         |34 |ww       |
|4  |{wleu, wliugf}      |21 |wleu     |
|4  |{wleu, wliugf}      |21 |wliugf   |
+---+--------------------+---+---------+

In [70]:
df.select(df.name,explode(df.languagesAtSchool).alias("lang_list")).show()

+----------------+---------+
|            name|lang_list|
+----------------+---------+
|    James,,Smith|     Java|
|    James,,Smith|    Scala|
|    James,,Smith|      C++|
|   Michael,Rose,|    Spark|
|   Michael,Rose,|     Java|
|   Michael,Rose,|      C++|
|Robert,,Williams|   CSharp|
|Robert,,Williams|       VB|
+----------------+---------+

In [64]:
df.select(df.name,explode(df.languagesAtSchool)).show()

+----------------+------+
|            name|   col|
+----------------+------+
|    James,,Smith|  Java|
|    James,,Smith| Scala|
|    James,,Smith|   C++|
|   Michael,Rose,| Spark|
|   Michael,Rose,|  Java|
|   Michael,Rose,|   C++|
|Robert,,Williams|CSharp|
|Robert,,Williams|    VB|
+----------------+------+

Split()

In [65]:
df.select(split(df.name,",").alias("nameAsArray")).show()

+--------------------+
|         nameAsArray|
+--------------------+
|    [James, , Smith]|
|   [Michael, Rose, ]|
|[Robert, , Williams]|
+--------------------+

In [81]:
df.select(df.name,split(df.name,",").alias("new_split")).show()

+----------------+--------------------+
|            name|           new_split|
+----------------+--------------------+
|    James,,Smith|    [James, , Smith]|
|   Michael,Rose,|   [Michael, Rose, ]|
|Robert,,Williams|[Robert, , Williams]|
+----------------+--------------------+

In [67]:
df.show()

+----------------+------------------+---------------+------------+-------------+
|            name| languagesAtSchool|languagesAtWork|currentState|previousState|
+----------------+------------------+---------------+------------+-------------+
|    James,,Smith|[Java, Scala, C++]|  [Spark, Java]|          OH|           CA|
|   Michael,Rose,|[Spark, Java, C++]|  [Spark, Java]|          NY|           NJ|
|Robert,,Williams|      [CSharp, VB]|[Spark, Python]|          UT|           NV|
+----------------+------------------+---------------+------------+-------------+

In [66]:
df.select(df.name,array(df.currentState,df.previousState).alias("States")).show()

+----------------+--------+
|            name|  States|
+----------------+--------+
|    James,,Smith|[OH, CA]|
|   Michael,Rose,|[NY, NJ]|
|Robert,,Williams|[UT, NV]|
+----------------+--------+

array_contains()

In [68]:
df.select(df.name,array_contains(df.languagesAtSchool,"Java")
    .alias("array_contains")).show()

+----------------+--------------+
|            name|array_contains|
+----------------+--------------+
|    James,,Smith|          true|
|   Michael,Rose,|          true|
|Robert,,Williams|         false|
+----------------+--------------+

In [82]:
df.select(df.name,explode(df.languagesAtSchool).alias("lang_list"), split(df.name,",").alias("new_split")).show()

+----------------+---------+--------------------+
|            name|lang_list|           new_split|
+----------------+---------+--------------------+
|    James,,Smith|     Java|    [James, , Smith]|
|    James,,Smith|    Scala|    [James, , Smith]|
|    James,,Smith|      C++|    [James, , Smith]|
|   Michael,Rose,|    Spark|   [Michael, Rose, ]|
|   Michael,Rose,|     Java|   [Michael, Rose, ]|
|   Michael,Rose,|      C++|   [Michael, Rose, ]|
|Robert,,Williams|   CSharp|[Robert, , Williams]|
|Robert,,Williams|       VB|[Robert, , Williams]|
+----------------+---------+--------------------+