<a href="https://colab.research.google.com/github/codal-tshah/data-practices-2024/blob/15_apr/PySpark/DataFrame_Displays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=896721d78dd8b0bcf787727e60a95479e8f0d6f6c4c3bac48c46adb711649c8a
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
from pyspark import *
from pyspark.sql import DataFrame
help(DataFrame.write)

Help on property:

    Interface for saving the content of the non-streaming :class:`DataFrame` out into external
    storage.

    .. versionadded:: 1.4.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Returns
    -------
    :class:`DataFrameWriter`

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> type(df.write)
    <class '...readwriter.DataFrameWriter'>

    Write the DataFrame as a table.

    >>> _ = spark.sql("DROP TABLE IF EXISTS tab2")
    >>> df.write.saveAsTable("tab2")
    >>> _ = spark.sql("DROP TABLE tab2")

In [6]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [8]:
data=[(1,'milanlshefwegdwegd;uwed;wevdiewv',56),(2,'rad;dbewiubdiuwehul',26),(3,'miqhdwwgdlwgdiwegdygweydghir',34),(4,'jay',21)]
schema=['id','name','age']
df = spark.createDataFrame(data=data,schema=schema)
df.show()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|milanlshefwegdweg...| 56|
|  2| rad;dbewiubdiuwehul| 26|
|  3|miqhdwwgdlwgdiweg...| 34|
|  4|                 jay| 21|
+---+--------------------+---+

show()

In [9]:
df.show(truncate=False)

+---+--------------------------------+---+
|id |name                            |age|
+---+--------------------------------+---+
|1  |milanlshefwegdwegd;uwed;wevdiewv|56 |
|2  |rad;dbewiubdiuwehul             |26 |
|3  |miqhdwwgdlwgdiwegdygweydghir    |34 |
|4  |jay                             |21 |
+---+--------------------------------+---+

In [10]:
df.show(truncate=12)

+---+------------+---+
| id|        name|age|
+---+------------+---+
|  1|milanlshe...| 56|
|  2|rad;dbewi...| 26|
|  3|miqhdwwgd...| 34|
|  4|         jay| 21|
+---+------------+---+

In [11]:
df.show(n=2,truncate=False)

+---+--------------------------------+---+
|id |name                            |age|
+---+--------------------------------+---+
|1  |milanlshefwegdwegd;uwed;wevdiewv|56 |
|2  |rad;dbewiubdiuwehul             |26 |
+---+--------------------------------+---+
only showing top 2 rows

In [12]:
df.show(n=2, vertical=True)

-RECORD 0--------------------
 id   | 1
 name | milanlshefwegdweg...
 age  | 56
-RECORD 1--------------------
 id   | 2
 name | rad;dbewiubdiuwehul
 age  | 26
only showing top 2 rows

withColumn()

In [14]:
display(df)

DataFrame[id: bigint, name: string, age: bigint]

In [16]:
df.show()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|milanlshefwegdweg...| 56|
|  2| rad;dbewiubdiuwehul| 26|
|  3|miqhdwwgdlwgdiweg...| 34|
|  4|                 jay| 21|
+---+--------------------+---+

In [25]:
from pyspark.sql.functions import col, lit
df1 = df.withColumn(colName = 'age',col=col('age').cast('Integer'))
df1.show()
df1.printSchema()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|milanlshefwegdweg...| 56|
|  2| rad;dbewiubdiuwehul| 26|
|  3|miqhdwwgdlwgdiweg...| 34|
|  4|                 jay| 21|
+---+--------------------+---+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [21]:
df2 = df1.withColumn('age',col('age')-2)
df2.show()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|milanlshefwegdweg...| 54|
|  2| rad;dbewiubdiuwehul| 24|
|  3|miqhdwwgdlwgdiweg...| 32|
|  4|                 jay| 19|
+---+--------------------+---+

In [22]:
df3 = df1.withColumn('new_age',col('age')-15)
df3.show()

+---+--------------------+---+-------+
| id|                name|age|new_age|
+---+--------------------+---+-------+
|  1|milanlshefwegdweg...| 56|     41|
|  2| rad;dbewiubdiuwehul| 26|     11|
|  3|miqhdwwgdlwgdiweg...| 34|     19|
|  4|                 jay| 21|      6|
+---+--------------------+---+-------+

In [29]:
df3 = df3.withColumn('country', lit(('USA')))
df3.show()

+---+--------------------+---+-------+-------+
| id|                name|age|new_age|country|
+---+--------------------+---+-------+-------+
|  1|milanlshefwegdweg...| 56|     41|    USA|
|  2| rad;dbewiubdiuwehul| 26|     11|    USA|
|  3|miqhdwwgdlwgdiweg...| 34|     19|    USA|
|  4|                 jay| 21|      6|    USA|
+---+--------------------+---+-------+-------+

withColumnRenamed()

In [30]:
df4 = df3.withColumnRenamed('age', 'persons_age')
df4.show()

+---+--------------------+-----------+-------+-------+
| id|                name|persons_age|new_age|country|
+---+--------------------+-----------+-------+-------+
|  1|milanlshefwegdweg...|         56|     41|    USA|
|  2| rad;dbewiubdiuwehul|         26|     11|    USA|
|  3|miqhdwwgdlwgdiweg...|         34|     19|    USA|
|  4|                 jay|         21|      6|    USA|
+---+--------------------+-----------+-------+-------+