<a href="https://colab.research.google.com/github/codal-tshah/data-practices-2024/blob/26_apr/PySpark/PySpark_Datasources.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=ff0d0dec70f12248cddc53280548e478d522450a4e4c4fa3588fec5e2ad617de
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("new_app.com").getOrCreate()

# **Read & Write CSV Files**

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/data_practices/pandas/data/titanic.csv")
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

In [ ]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|        _c0|     _c1|   _c2|                 _c3|   _c4| _c5|  _c6|  _c7|             _c8|    _c9| _c10|    _c11|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
df = spark.read.format("csv").load("/content/drive/MyDrive/data_practices/pandas/data/titanic.csv")
df.printSchema()
df.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|        _c0|     _c1|   _c2|                 _c3|   _c4| _c5|  _c6|  _c7|             _c8|    _c9| _c10|    _c11|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

lets make correct header

In [ ]:
df2 = spark.read.option('header', True).csv("/content/drive/MyDrive/data_practices/pandas/data/titanic.csv")
df2.printSchema()
df2.show()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

**Read Multiple CSV Files**

In [ ]:
mul_df = spark.read.option('header',True).csv(["/content/drive/MyDrive/data_practices/pandas/data/titanic.csv" , "/content/drive/MyDrive/data_practices/pandas/data/air_quality_no2_long.csv"] )
mul_df.printSchema()
mul_df.show()

root
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date.utc: string (nullable = true)
 |-- location: string (nullable = true)
 |-- parameter: string (nullable = true)
 |-- value: string (nullable = true)
 |-- unit: string (nullable = true)

+-----+-------+--------------------+--------+---------+-----+-----+
| city|country|            date.utc|location|parameter|value| unit|
+-----+-------+--------------------+--------+---------+-----+-----+
|Paris|     FR|2019-06-21 00:00:...| FR04014|      no2| 20.0|µg/m³|
|Paris|     FR|2019-06-20 23:00:...| FR04014|      no2| 21.8|µg/m³|
|Paris|     FR|2019-06-20 22:00:...| FR04014|      no2| 26.5|µg/m³|
|Paris|     FR|2019-06-20 21:00:...| FR04014|      no2| 24.9|µg/m³|
|Paris|     FR|2019-06-20 20:00:...| FR04014|      no2| 21.4|µg/m³|
|Paris|     FR|2019-06-20 19:00:...| FR04014|      no2| 25.3|µg/m³|
|Paris|     FR|2019-06-20 18:00:...| FR04014|      no2| 23.9|µg/m³|
|Paris|     FR|2019-06-20 17:00:...| FR04014|      no2| 23.2|µg/m³|
|Paris|     FR|2019-06-20 16:00:...| FR04014|      no2| 19.0|µg/m³|
|Paris|     FR|2019-06-20 15:00:...| FR04014|      no2| 19.3|µg/m³|
|Paris|     FR|2019-06-20 14:00:...| FR04014|      no2| 20.1|µg/m³|
|Paris|     FR|2019-06-20 13:00:...| FR04014|      no2| 19.4|µg/m³|
|Paris|     FR|2019-06-19 10:00:...| FR04014|      no2| 26.6|µg/m³|
|Paris|     FR|2019-06-19 09:00:...| FR04014|      no2| 27.3|µg/m³|
|Paris|     FR|2019-06-18 22:00:...| FR04014|      no2| 39.3|µg/m³|
|Paris|     FR|2019-06-18 21:00:...| FR04014|      no2| 23.1|µg/m³|
|Paris|     FR|2019-06-18 20:00:...| FR04014|      no2| 17.0|µg/m³|
|Paris|     FR|2019-06-18 19:00:...| FR04014|      no2| 15.3|µg/m³|
|Paris|     FR|2019-06-18 08:00:...| FR04014|      no2| 49.6|µg/m³|
|Paris|     FR|2019-06-18 07:00:...| FR04014|      no2| 52.6|µg/m³|
+-----+-------+--------------------+--------+---------+-----+-----+
only showing top 20 rows

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/data_practices/pandas/data")
df.printSchema()
df.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

+---------+-------+--------------------+--------+---------+-----+-----+
|      _c0|    _c1|                 _c2|     _c3|      _c4|  _c5|  _c6|
+---------+-------+--------------------+--------+---------+-----+-----+
|     city|country|            date.utc|location|parameter|value| unit|
|Antwerpen|     BE|2019-06-18 06:00:...| BETR801|     pm25| 18.0|µg/m³|
|Antwerpen|     BE|2019-06-17 08:00:...| BETR801|     pm25|  6.5|µg/m³|
|Antwerpen|     BE|2019-06-17 07:00:...| BETR801|     pm25| 18.5|µg/m³|
|Antwerpen|     BE|2019-06-17 06:00:...| BETR801|     pm25| 16.0|µg/m³|
|Antwerpen|     BE|2019-06-17 05:00:...| BETR801|     pm25|  7.5|µg/m³|
|Antwerpen|     BE|2019-06-17 04:00:...| BETR801|     pm25|  7.5|µg/m³|
|Antwerpen|     BE|2019-06-17 03:00:...| BETR801|     pm25|  7.0|µg/m³|
|Antwerpen|     BE|2019-06-17 02:00:...| BETR801|     pm25|  7.0|µg/m³|
|Antwerpen|     BE|2019-06-17 01:00:...| BETR801|     pm25|  8.0|µg/m³|
|Antwerpen|     BE|2019-06-16 01:00:...| BETR801|     pm25| 15.0|µg/m³|
|Antwerpen|     BE|2019-06-15 01:00:...| BETR801|     pm25| 11.0|µg/m³|
|Antwerpen|     BE|2019-06-14 09:00:...| BETR801|     pm25| 12.0|µg/m³|
|Antwerpen|     BE|2019-06-13 01:00:...| BETR801|     pm25|  3.0|µg/m³|
|Antwerpen|     BE|2019-06-12 01:00:...| BETR801|     pm25| 16.0|µg/m³|
|Antwerpen|     BE|2019-06-11 01:00:...| BETR801|     pm25|  3.5|µg/m³|
|Antwerpen|     BE|2019-06-10 01:00:...| BETR801|     pm25|  8.5|µg/m³|
|Antwerpen|     BE|2019-06-09 01:00:...| BETR801|     pm25|  6.0|µg/m³|
|Antwerpen|     BE|2019-06-08 01:00:...| BETR801|     pm25|  6.5|µg/m³|
|Antwerpen|     BE|2019-06-06 01:00:...| BETR801|     pm25|  6.5|µg/m³|
+---------+-------+--------------------+--------+---------+-----+-----+
only showing top 20 rows

In [ ]:
df3 = spark.read.options(delimiter=',').csv("/content/drive/MyDrive/data_practices/pandas/data/titanic.csv")
df3.printSchema()
df3.show(truncate=False)

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|_c0        |_c1     |_c2   |_c3                                                    |_c4   |_c5 |_c6  |_c7  |_c8             |_c9    |_c10 |_c11    |
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                                   |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|
|1          |0       |3     |Braund, Mr. Owen Harris                                |male  |22  |1    |0    |A/5 21171       |7.25   |NULL |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)    |female|38  |1    |0    |PC 17599        |71.2833|C85  |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                                 |female|26  |0    |0    |STON/O2. 3101282|7.925  |NULL |S       |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)           |female|35  |1    |0    |113803          |53.1   |C123 |S       |
|5          |0       |3     |Allen, Mr. William Henry                               |male  |35  |0    |0    |373450          |8.05   |NULL |S       |
|6          |0       |3     |Moran, Mr. James                                       |male  |NULL|0    |0    |330877          |8.4583 |NULL |Q       |
|7          |0       |1     |McCarthy, Mr. Timothy J                                |male  |54  |0    |0    |17463           |51.8625|E46  |S       |
|8          |0       |3     |Palsson, Master. Gosta Leonard                         |male  |2   |3    |1    |349909          |21.075 |NULL |S       |
|9          |1       |3     |Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      |female|27  |0    |2    |347742          |11.1333|NULL |S       |
|10         |1       |2     |Nasser, Mrs. Nicholas (Adele Achem)                    |female|14  |1    |0    |237736          |30.0708|NULL |C       |
|11         |1       |3     |Sandstrom, Miss. Marguerite Rut                        |female|4   |1    |1    |PP 9549         |16.7   |G6   |S       |
|12         |1       |1     |Bonnell, Miss. Elizabeth                               |female|58  |0    |0    |113783          |26.55  |C103 |S       |
|13         |0       |3     |Saundercock, Mr. William Henry                         |male  |20  |0    |0    |A/5. 2151       |8.05   |NULL |S       |
|14         |0       |3     |Andersson, Mr. Anders Johan                            |male  |39  |1    |5    |347082          |31.275 |NULL |S       |
|15         |0       |3     |Vestrom, Miss. Hulda Amanda Adolfina                   |female|14  |0    |0    |350406          |7.8542 |NULL |S       |
|16         |1       |2     |Hewlett, Mrs. (Mary D Kingcome)                        |female|55  |0    |0    |248706          |16     |NULL |S       |
|17         |0       |3     |Rice, Master. Eugene                                   |male  |2   |4    |1    |382652          |29.125 |NULL |Q       |
|18         |1       |2     |Williams, Mr. Charles Eugene                           |male  |NULL|0    |0    |244373          |13     |NULL |S       |
|19         |0       |3     |Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)|female|31  |1    |0    |345763          |18     |NULL |S       |
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import split

# Read the CSV file with the default delimiter (",")
df3 = spark.read.csv("/content/drive/MyDrive/data_practices/pandas/data/titanic.csv", header=True)

# Split the columns based on the custom delimiter ("++")
df3 = df3.select([split(col, "|") for col in df3.columns])

# Show the DataFrame
df3.show(truncate=False)

+-------------------------+----------------------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------------+-------------------+-------------------+--------------------------------------------------+-----------------------+-------------------+----------------------+
|split(PassengerId, |, -1)|split(Survived, |, -1)|split(Pclass, |, -1)|split(Name, |, -1)                                                                                                                                                     |split(Sex, |, -1)   |split(Age, |, -1)|split(SibSp, |, -1)|split(Parch, |, -1)|split(Ticket, |, -1)                              |split(Fare, |, -1)     |split(Cabin, |, -1)|split(Embarked, |, -1)|
+-------------------------+----------------------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------------+-------------------+-------------------+--------------------------------------------------+-----------------------+-------------------+----------------------+
|[1, ]                    |[0, ]                 |[3, ]               |[B, r, a, u, n, d, ,,  , M, r, .,  , O, w, e, n,  , H, a, r, r, i, s, ]                                                                                                |[m, a, l, e, ]      |[2, 2, ]         |[1, ]              |[0, ]              |[A, /, 5,  , 2, 1, 1, 7, 1, ]                     |[7, ., 2, 5, ]         |NULL               |[S, ]                 |
|[2, ]                    |[1, ]                 |[1, ]               |[C, u, m, i, n, g, s, ,,  , M, r, s, .,  , J, o, h, n,  , B, r, a, d, l, e, y,  , (, F, l, o, r, e, n, c, e,  , B, r, i, g, g, s,  , T, h, a, y, e, r, ), ]            |[f, e, m, a, l, e, ]|[3, 8, ]         |[1, ]              |[0, ]              |[P, C,  , 1, 7, 5, 9, 9, ]                        |[7, 1, ., 2, 8, 3, 3, ]|[C, 8, 5, ]        |[C, ]                 |
|[3, ]                    |[1, ]                 |[3, ]               |[H, e, i, k, k, i, n, e, n, ,,  , M, i, s, s, .,  , L, a, i, n, a, ]                                                                                                   |[f, e, m, a, l, e, ]|[2, 6, ]         |[0, ]              |[0, ]              |[S, T, O, N, /, O, 2, .,  , 3, 1, 0, 1, 2, 8, 2, ]|[7, ., 9, 2, 5, ]      |NULL               |[S, ]                 |
|[4, ]                    |[1, ]                 |[1, ]               |[F, u, t, r, e, l, l, e, ,,  , M, r, s, .,  , J, a, c, q, u, e, s,  , H, e, a, t, h,  , (, L, i, l, y,  , M, a, y,  , P, e, e, l, ), ]                                 |[f, e, m, a, l, e, ]|[3, 5, ]         |[1, ]              |[0, ]              |[1, 1, 3, 8, 0, 3, ]                              |[5, 3, ., 1, ]         |[C, 1, 2, 3, ]     |[S, ]                 |
|[5, ]                    |[0, ]                 |[3, ]               |[A, l, l, e, n, ,,  , M, r, .,  , W, i, l, l, i, a, m,  , H, e, n, r, y, ]                                                                                             |[m, a, l, e, ]      |[3, 5, ]         |[0, ]              |[0, ]              |[3, 7, 3, 4, 5, 0, ]                              |[8, ., 0, 5, ]         |NULL               |[S, ]                 |
|[6, ]                    |[0, ]                 |[3, ]               |[M, o, r, a, n, ,,  , M, r, .,  , J, a, m, e, s, ]                                                                                                                     |[m, a, l, e, ]      |NULL             |[0, ]              |[0, ]              |[3, 3, 0, 8, 7, 7, ]                              |[8, ., 4, 5, 8, 3, ]   |NULL               |[Q, ]                 |
|[7, ]                    |[0, ]                 |[1, ]               |[M, c, C, a, r, t, h, y, ,,  , M, r, .,  , T, i, m, o, t, h, y,  , J, ]                                                                                                |[m, a, l, e, ]      |[5, 4, ]         |[0, ]              |[0, ]              |[1, 7, 4, 6, 3, ]                                 |[5, 1, ., 8, 6, 2, 5, ]|[E, 4, 6, ]        |[S, ]                 |
|[8, ]                    |[0, ]                 |[3, ]               |[P, a, l, s, s, o, n, ,,  , M, a, s, t, e, r, .,  , G, o, s, t, a,  , L, e, o, n, a, r, d, ]                                                                           |[m, a, l, e, ]      |[2, ]            |[3, ]              |[1, ]              |[3, 4, 9, 9, 0, 9, ]                              |[2, 1, ., 0, 7, 5, ]   |NULL               |[S, ]                 |
|[9, ]                    |[1, ]                 |[3, ]               |[J, o, h, n, s, o, n, ,,  , M, r, s, .,  , O, s, c, a, r,  , W,  , (, E, l, i, s, a, b, e, t, h,  , V, i, l, h, e, l, m, i, n, a,  , B, e, r, g, ), ]                  |[f, e, m, a, l, e, ]|[2, 7, ]         |[0, ]              |[2, ]              |[3, 4, 7, 7, 4, 2, ]                              |[1, 1, ., 1, 3, 3, 3, ]|NULL               |[S, ]                 |
|[1, 0, ]                 |[1, ]                 |[2, ]               |[N, a, s, s, e, r, ,,  , M, r, s, .,  , N, i, c, h, o, l, a, s,  , (, A, d, e, l, e,  , A, c, h, e, m, ), ]                                                            |[f, e, m, a, l, e, ]|[1, 4, ]         |[1, ]              |[0, ]              |[2, 3, 7, 7, 3, 6, ]                              |[3, 0, ., 0, 7, 0, 8, ]|NULL               |[C, ]                 |
|[1, 1, ]                 |[1, ]                 |[3, ]               |[S, a, n, d, s, t, r, o, m, ,,  , M, i, s, s, .,  , M, a, r, g, u, e, r, i, t, e,  , R, u, t, ]                                                                        |[f, e, m, a, l, e, ]|[4, ]            |[1, ]              |[1, ]              |[P, P,  , 9, 5, 4, 9, ]                           |[1, 6, ., 7, ]         |[G, 6, ]           |[S, ]                 |
|[1, 2, ]                 |[1, ]                 |[1, ]               |[B, o, n, n, e, l, l, ,,  , M, i, s, s, .,  , E, l, i, z, a, b, e, t, h, ]                                                                                             |[f, e, m, a, l, e, ]|[5, 8, ]         |[0, ]              |[0, ]              |[1, 1, 3, 7, 8, 3, ]                              |[2, 6, ., 5, 5, ]      |[C, 1, 0, 3, ]     |[S, ]                 |
|[1, 3, ]                 |[0, ]                 |[3, ]               |[S, a, u, n, d, e, r, c, o, c, k, ,,  , M, r, .,  , W, i, l, l, i, a, m,  , H, e, n, r, y, ]                                                                           |[m, a, l, e, ]      |[2, 0, ]         |[0, ]              |[0, ]              |[A, /, 5, .,  , 2, 1, 5, 1, ]                     |[8, ., 0, 5, ]         |NULL               |[S, ]                 |
|[1, 4, ]                 |[0, ]                 |[3, ]               |[A, n, d, e, r, s, s, o, n, ,,  , M, r, .,  , A, n, d, e, r, s,  , J, o, h, a, n, ]                                                                                    |[m, a, l, e, ]      |[3, 9, ]         |[1, ]              |[5, ]              |[3, 4, 7, 0, 8, 2, ]                              |[3, 1, ., 2, 7, 5, ]   |NULL               |[S, ]                 |
|[1, 5, ]                 |[0, ]                 |[3, ]               |[V, e, s, t, r, o, m, ,,  , M, i, s, s, .,  , H, u, l, d, a,  , A, m, a, n, d, a,  , A, d, o, l, f, i, n, a, ]                                                         |[f, e, m, a, l, e, ]|[1, 4, ]         |[0, ]              |[0, ]              |[3, 5, 0, 4, 0, 6, ]                              |[7, ., 8, 5, 4, 2, ]   |NULL               |[S, ]                 |
|[1, 6, ]                 |[1, ]                 |[2, ]               |[H, e, w, l, e, t, t, ,,  , M, r, s, .,  , (, M, a, r, y,  , D,  , K, i, n, g, c, o, m, e, ),  , ]                                                                     |[f, e, m, a, l, e, ]|[5, 5, ]         |[0, ]              |[0, ]              |[2, 4, 8, 7, 0, 6, ]                              |[1, 6, ]               |NULL               |[S, ]                 |
|[1, 7, ]                 |[0, ]                 |[3, ]               |[R, i, c, e, ,,  , M, a, s, t, e, r, .,  , E, u, g, e, n, e, ]                                                                                                         |[m, a, l, e, ]      |[2, ]            |[4, ]              |[1, ]              |[3, 8, 2, 6, 5, 2, ]                              |[2, 9, ., 1, 2, 5, ]   |NULL               |[Q, ]                 |
|[1, 8, ]                 |[1, ]                 |[2, ]               |[W, i, l, l, i, a, m, s, ,,  , M, r, .,  , C, h, a, r, l, e, s,  , E, u, g, e, n, e, ]                                                                                 |[m, a, l, e, ]      |NULL             |[0, ]              |[0, ]              |[2, 4, 4, 3, 7, 3, ]                              |[1, 3, ]               |NULL               |[S, ]                 |
|[1, 9, ]                 |[0, ]                 |[3, ]               |[V, a, n, d, e, r,  , P, l, a, n, k, e, ,,  , M, r, s, .,  , J, u, l, i, u, s,  , (, E, m, e, l, i, a,  , M, a, r, i, a,  , V, a, n, d, e, m, o, o, r, t, e, l, e, ), ]|[f, e, m, a, l, e, ]|[3, 1, ]         |[1, ]              |[0, ]              |[3, 4, 5, 7, 6, 3, ]                              |[1, 8, ]               |NULL               |[S, ]                 |
|[2, 0, ]                 |[1, ]                 |[3, ]               |[M, a, s, s, e, l, m, a, n, i, ,,  , M, r, s, .,  , F, a, t, i, m, a, ]                                                                                                |[f, e, m, a, l, e, ]|NULL             |[0, ]              |[0, ]              |[2, 6, 4, 9, ]                                    |[7, ., 2, 2, 5, ]      |NULL               |[C, ]                 |
+-------------------------+----------------------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------------+-------------------+-------------------+--------------------------------------------------+-----------------------+-------------------+----------------------+
only showing top 20 rows

**The default value set to this option is False when setting to true it automatically infers column types based on the data.**

In [ ]:
df4 = spark.read.options(inferSchema='True',delimiter=',') \
  .csv("/content/drive/MyDrive/data_practices/pandas/data/titanic.csv")

**Reading CSV files with a user-specified custom schema**

In [ ]:
schema = StructType() \
      .add("RecordNumber",IntegerType(),True) \
      .add("Zipcode",IntegerType(),True) \
      .add("ZipCodeType",StringType(),True) \
      .add("City",StringType(),True) \
      .add("State",StringType(),True) \
      .add("LocationType",StringType(),True) \
      .add("Lat",DoubleType(),True) \
      .add("Long",DoubleType(),True) \
      .add("Xaxis",IntegerType(),True) \
      .add("Yaxis",DoubleType(),True) \
      .add("Zaxis",DoubleType(),True) \
      .add("WorldRegion",StringType(),True) \
      .add("Country",StringType(),True) \
      .add("LocationText",StringType(),True) \
      .add("Location",StringType(),True) \
      .add("Decommisioned",BooleanType(),True) \
      .add("TaxReturnsFiled",StringType(),True) \
      .add("EstimatedPopulation",IntegerType(),True) \
      .add("TotalWages",IntegerType(),True) \
      .add("Notes",StringType(),True)

df_with_schema = spark.read.format("csv") \
      .option("header", True) \
      .schema(schema) \
      .load("/content/drive/MyDrive/data_practices/pandas/data/air_quality_pm25_long.csv")

df_with_schema.show()
df_with_schema.printSchema()

+------------+-------+--------------------+-------+-----+------------+----+----+-----+-----+-----+-----------+-------+------------+--------+-------------+---------------+-------------------+----------+-----+
|RecordNumber|Zipcode|         ZipCodeType|   City|State|LocationType| Lat|Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|LocationText|Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|Notes|
+------------+-------+--------------------+-------+-----+------------+----+----+-----+-----+-----+-----------+-------+------------+--------+-------------+---------------+-------------------+----------+-----+
|        NULL|   NULL|2019-06-18 06:00:...|BETR801| pm25|        18.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-17 08:00:...|BETR801| pm25|         6.5|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-17 07:00:...|BETR801| pm25|        18.5|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-17 06:00:...|BETR801| pm25|        16.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-17 05:00:...|BETR801| pm25|         7.5|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-17 04:00:...|BETR801| pm25|         7.5|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-17 03:00:...|BETR801| pm25|         7.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-17 02:00:...|BETR801| pm25|         7.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-17 01:00:...|BETR801| pm25|         8.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-16 01:00:...|BETR801| pm25|        15.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-15 01:00:...|BETR801| pm25|        11.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-14 09:00:...|BETR801| pm25|        12.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-13 01:00:...|BETR801| pm25|         3.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-12 01:00:...|BETR801| pm25|        16.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-11 01:00:...|BETR801| pm25|         3.5|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-10 01:00:...|BETR801| pm25|         8.5|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-09 01:00:...|BETR801| pm25|         6.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-08 01:00:...|BETR801| pm25|         6.5|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-06 01:00:...|BETR801| pm25|         6.5|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
|        NULL|   NULL|2019-06-05 01:00:...|BETR801| pm25|        11.0|NULL|NULL| NULL| NULL| NULL|       NULL|   NULL|        NULL|    NULL|         NULL|           NULL|               NULL|      NULL| NULL|
+------------+-------+--------------------+-------+-----+------------+----+----+-----+-----+-----+-----------+-------+------------+--------+-------------+---------------+-------------------+----------+-----+
only showing top 20 rows

root
 |-- RecordNumber: integer (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Long: double (nullable = true)
 |-- Xaxis: integer (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- TaxReturnsFiled: string (nullable = true)
 |-- EstimatedPopulation: integer (nullable = true)
 |-- TotalWages: integer (nullable = true)
 |-- Notes: string (nullable = true)

In [ ]:
df_with_schema.write.options(header='True', delimiter=',') \
 .csv("/content/drive/MyDrive/data_practices/pandas/data/air_quality_pm25_long")

In [ ]:
df_with_schema.write.mode('overwrite').csv("/content/drive/MyDrive/data_practices/pandas/data/air_quality_pm25_long")

In [ ]:
df_with_schema.write.option("header",True) \
 .csv("/content/drive/MyDrive/data_practices/pandas/data/air_quality_pm25_long")

# **Read and Write Parquet File**

Apache Parquet file is a columnar storage format available to any project in the Hadoop ecosystem, regardless of the choice of data processing framework, data model, or programming language.

In [3]:
data =[("James ","","Smith","36636","M",3000),
              ("Michael ","Rose","","40288","M",4000),
              ("Robert ","","Williams","42114","M",4000),
              ("Maria ","Anne","Jones","39192","F",4000),
              ("Jen","Mary","Brown","","F",-1)]
columns=["firstname","middlename","lastname","dob","gender","salary"]
df=spark.createDataFrame(data,columns)

In [5]:
df.write.parquet("/content/drive/MyDrive/data_practices/pyspark/data/parquet_files_1")

In [7]:
pardf = spark.read.parquet("/content/drive/MyDrive/data_practices/pyspark/data/parquet_files_1")
pardf.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|  dob|gender|salary|
+---------+----------+--------+-----+------+------+
|  Robert |          |Williams|42114|     M|  4000|
|   Maria |      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
|   James |          |   Smith|36636|     M|  3000|
| Michael |      Rose|        |40288|     M|  4000|
+---------+----------+--------+-----+------+------+

In [ ]:
df.write.mode('append').parquet("/content/drive/MyDrive/data_practices/pyspark/data/parquet_files_1")
df.write.mode('overwrite').parquet("/content/drive/MyDrive/data_practices/pyspark/data/parquet_files_1")

In [8]:
pardf.createOrReplaceTempView("ParquetTable")

In [9]:
parkSQL = spark.sql("select * from ParquetTable where salary >= 4000 ")

In [11]:
df.write.partitionBy("gender","salary").mode("overwrite").parquet("/content/drive/MyDrive/data_practices/pyspark/data/parquet_files_1.parquet")

In [12]:

parDF2=spark.read.parquet("/content/drive/MyDrive/data_practices/pyspark/data/parquet_files_1.parquet/gender=M")
parDF2.show(truncate=False)

+---------+----------+--------+-----+------+
|firstname|middlename|lastname|dob  |salary|
+---------+----------+--------+-----+------+
|Robert   |          |Williams|42114|4000  |
|Michael  |Rose      |        |40288|4000  |
|James    |          |Smith   |36636|3000  |
+---------+----------+--------+-----+------+

In [13]:
# Create a temporary view on partitioned Parquet file
spark.sql("CREATE TEMPORARY VIEW PERSON2 USING parquet OPTIONS (path \"/content/drive/MyDrive/data_practices/pyspark/data/parquet_files_1.parquet/gender=F\")")
spark.sql("SELECT * FROM PERSON2" ).show()

+---------+----------+--------+-----+------+
|firstname|middlename|lastname|  dob|salary|
+---------+----------+--------+-----+------+
|   Maria |      Anne|   Jones|39192|  4000|
|      Jen|      Mary|   Brown|     |    -1|
+---------+----------+--------+-----+------+