<a href="https://colab.research.google.com/github/codal-tshah/data-practices-2024/blob/15_apr/PySpark/Reading_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=a315e611ee99e3c642092ccf86c9846c05e92a83622b1e95d801c2064caf760b
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark import *
from pyspark.sql import DataFrame
help(DataFrame.write)

Help on property:

    Interface for saving the content of the non-streaming :class:`DataFrame` out into external
    storage.

    .. versionadded:: 1.4.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Returns
    -------
    :class:`DataFrameWriter`

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> type(df.write)
    <class '...readwriter.DataFrameWriter'>

    Write the DataFrame as a table.

    >>> _ = spark.sql("DROP TABLE IF EXISTS tab2")
    >>> df.write.saveAsTable("tab2")
    >>> _ = spark.sql("DROP TABLE tab2")

In [ ]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [ ]:
data=[(1,'milan',56),(2,'rahul',26),(3,'mihir',34),(4,'jay',21)]
schema=['id','name','age']
df = spark.createDataFrame(data=data,schema=schema)
df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|milan| 56|
|  2|rahul| 26|
|  3|mihir| 34|
|  4|  jay| 21|
+---+-----+---+

In [ ]:
display(df)

DataFrame[id: bigint, name: string, age: bigint]

In [ ]:
df.write

In [ ]:
type(df.write)

pyspark.sql.readwriter.DataFrameWriter

# **Read CSV FILE**

In [ ]:
df.write.csv(path="/content/drive/MyDrive/data_practices/pyspark/data/csv_2",header=True)

In [ ]:
df = spark.read.csv(path="/content/drive/MyDrive/data_practices/pyspark/data/csv_2",header=True)
df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|milan| 56|
|  2|rahul| 26|
|  3|mihir| 34|
|  4|  jay| 21|
+---+-----+---+

In [ ]:
display(spark.read.csv(path="/content/drive/MyDrive/data_practices/pyspark/data/csv_2",header=True))

DataFrame[id: string, name: string, age: string]

In [ ]:
df.write.csv(path="/content/drive/MyDrive/data_practices/pyspark/data/csv_1",header=True,mode='error')

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/content/drive/MyDrive/data_practices/pyspark/data/csv_1 already exists. Set mode as "overwrite" to overwrite the existing path.

In [ ]:
help(df.write.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path: str, mode: Optional[str] = None, compression: Optional[str] = None, sep: Optional[str] = None, quote: Optional[str] = None, escape: Optional[str] = None, header: Union[bool, str, NoneType] = None, nullValue: Optional[str] = None, escapeQuotes: Union[bool, str, NoneType] = None, quoteAll: Union[bool, str, NoneType] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, ignoreLeadingWhiteSpace: Union[bool, str, NoneType] = None, ignoreTrailingWhiteSpace: Union[bool, str, NoneType] = None, charToEscapeQuoteEscaping: Optional[str] = None, encoding: Optional[str] = None, emptyValue: Optional[str] = None, lineSep: Optional[str] = None) -> None method of pyspark.sql.readwriter.DataFrameWriter instance
    Saves the content of the :class:`DataFrame` in CSV format at the specified path.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    path : str
        the path in any Hadoop supported file system
    mode : str, optional
        specifies the behavior of the save operation when data already exists.

        * ``append``: Append contents of this :class:`DataFrame` to existing data.
        * ``overwrite``: Overwrite existing data.
        * ``ignore``: Silently ignore this operation if data already exists.
        * ``error`` or ``errorifexists`` (default case): Throw an exception if data already \
            exists.

    Other Parameters
    ----------------
    Extra options
        For the extra options, refer to
        `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
        for the version you use.

        .. # noqa

    Examples
    --------
    Write a DataFrame into a CSV file and read it back.

    >>> import tempfile
    >>> with tempfile.TemporaryDirectory() as d:
    ...     # Write a DataFrame into a CSV file
    ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
    ...     df.write.csv(d, mode="overwrite")
    ...
    ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon'.
    ...     spark.read.schema(df.schema).format("csv").option(
    ...         "nullValue", "Hyukjin Kwon").load(d).show()
    +---+----+
    |age|name|
    +---+----+
    |100|NULL|
    +---+----+

In [ ]:
df.write.csv(path="/content/drive/MyDrive/data_practices/pyspark/data/csv_1",header=True,mode='overwrite')
df = spark.read.csv(path="/content/drive/MyDrive/data_practices/pyspark/data/csv_1",header=True)
df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|milan| 56|
|  2|rahul| 26|
|  3|mihir| 34|
|  4|  jay| 21|
+---+-----+---+

In [ ]:
df.write.csv(path="/content/drive/MyDrive/data_practices/pyspark/data/csv_1",header=True,mode='append')
df = spark.read.csv(path="/content/drive/MyDrive/data_practices/pyspark/data/csv_1",header=True)
df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|milan| 56|
|  2|rahul| 26|
|  3|mihir| 34|
|  4|  jay| 21|
|  1|milan| 56|
|  2|rahul| 26|
|  3|mihir| 34|
|  4|  jay| 21|
+---+-----+---+

# **Read JSON FILE**

In [36]:
dj = spark.read.json('/content/drive/MyDrive/data_practices/pyspark/data/file1.json', multiLine=True)
dj.show()

+--------------------+----------------+----------------+-----------------+-------+
|                 bio|              id|        language|             name|version|
+--------------------+----------------+----------------+-----------------+-------+
|Donec lobortis el...|V59OF92YF627HFY0|          Sindhi|    Adeel Solangi|    6.1|
|Aliquam sollicitu...|ENTOCR13RSCLZ6KU|          Sindhi|    Afzal Ghaffar|   1.88|
|Vestibulum pharet...|IAKPO3R4761JDRVG|          Sindhi|    Aamir Solangi|   7.27|
|Donec lobortis el...|5ZVOEPMJUI4MB4EN|          Uyghur|    Abla Dilmurat|   2.53|
|Vivamus id faucib...|6VTI8X6LL0MMPJCC|          Uyghur|         Adil Eli|   6.49|
|Duis commodo orci...|F2KEU5L7EHYSYFTT|          Uyghur|      Adile Qadir|    1.9|
|Vivamus id faucib...|LO6DVTZLRK68528I|          Uyghur|Abdukerim Ibrahim|    5.9|
|Etiam malesuada b...|LJRIULRNJFCNZJAJ|          Sindhi|        Adil Abro|   9.32|
|Fusce eu ultrices...|JMCL0CXNXHPL1GBC|        Galician| Afonso Vilarchán|   5.21|
|Nam laoreet, nunc...|KU4T500C830697CW|         Maltese|    Mark Schembri|   3.17|
|Pellentesque mass...|XOF91ZR7MHV1TXRS|        Galician|    Antía Sixirei|   6.44|
|Duis commodo orci...|FTSNV411G5MKLPDT|          Uyghur|   Aygul Mutellip|    9.1|
|Nunc aliquet soda...|OJMWMEEQWMLDU29P|          Sindhi|     Awais Shaikh|   1.59|
|Vestibulum ante i...|5G646V7E6TJW8X2M|          Sindhi|    Ambreen Ahmed|   2.35|
|Nullam ac sodales...|Z53AJY7WUYPLAWC9|        Galician|      Celtia Anes|   8.34|
|Phasellus tincidu...|N1AS6UFULO6WGTLB|         Maltese|    George Mifsud|   7.47|
|Curabitur ultrici...|70RODUVRD95CLOJL|          Uyghur|     Aytürk Qasim|   1.32|
|Maecenas non arcu...|VBLI24FKF7VV6BWE|Sesotho sa Leboa|       Dialè Meso|   6.29|
|Integer vehicula,...|4VRLON0GPEZYFCVL|        Galician|    Breixo Galáns|   1.62|
|Ut viverra quis e...|5DRDI1QLRGLP29RC|        Galician|     Bieito Lorme|   4.45|
+--------------------+----------------+----------------+-----------------+-------+
only showing top 20 rows

In [ ]:
dj.printSchema()

root
 |-- bio: string (nullable = true)
 |-- id: string (nullable = true)
 |-- language: string (nullable = true)
 |-- name: string (nullable = true)
 |-- version: double (nullable = true)

In [ ]:
dj = spark.read.json(path='/content/drive/MyDrive/data_practices/pyspark/data/file1.json', multiLine=True)
dj.show()

+--------------------+----------------+----------------+-----------------+-------+
|                 bio|              id|        language|             name|version|
+--------------------+----------------+----------------+-----------------+-------+
|Donec lobortis el...|V59OF92YF627HFY0|          Sindhi|    Adeel Solangi|    6.1|
|Aliquam sollicitu...|ENTOCR13RSCLZ6KU|          Sindhi|    Afzal Ghaffar|   1.88|
|Vestibulum pharet...|IAKPO3R4761JDRVG|          Sindhi|    Aamir Solangi|   7.27|
|Donec lobortis el...|5ZVOEPMJUI4MB4EN|          Uyghur|    Abla Dilmurat|   2.53|
|Vivamus id faucib...|6VTI8X6LL0MMPJCC|          Uyghur|         Adil Eli|   6.49|
|Duis commodo orci...|F2KEU5L7EHYSYFTT|          Uyghur|      Adile Qadir|    1.9|
|Vivamus id faucib...|LO6DVTZLRK68528I|          Uyghur|Abdukerim Ibrahim|    5.9|
|Etiam malesuada b...|LJRIULRNJFCNZJAJ|          Sindhi|        Adil Abro|   9.32|
|Fusce eu ultrices...|JMCL0CXNXHPL1GBC|        Galician| Afonso Vilarchán|   5.21|
|Nam laoreet, nunc...|KU4T500C830697CW|         Maltese|    Mark Schembri|   3.17|
|Pellentesque mass...|XOF91ZR7MHV1TXRS|        Galician|    Antía Sixirei|   6.44|
|Duis commodo orci...|FTSNV411G5MKLPDT|          Uyghur|   Aygul Mutellip|    9.1|
|Nunc aliquet soda...|OJMWMEEQWMLDU29P|          Sindhi|     Awais Shaikh|   1.59|
|Vestibulum ante i...|5G646V7E6TJW8X2M|          Sindhi|    Ambreen Ahmed|   2.35|
|Nullam ac sodales...|Z53AJY7WUYPLAWC9|        Galician|      Celtia Anes|   8.34|
|Phasellus tincidu...|N1AS6UFULO6WGTLB|         Maltese|    George Mifsud|   7.47|
|Curabitur ultrici...|70RODUVRD95CLOJL|          Uyghur|     Aytürk Qasim|   1.32|
|Maecenas non arcu...|VBLI24FKF7VV6BWE|Sesotho sa Leboa|       Dialè Meso|   6.29|
|Integer vehicula,...|4VRLON0GPEZYFCVL|        Galician|    Breixo Galáns|   1.62|
|Ut viverra quis e...|5DRDI1QLRGLP29RC|        Galician|     Bieito Lorme|   4.45|
+--------------------+----------------+----------------+-----------------+-------+
only showing top 20 rows

Multiple Json files reading

In [ ]:
multi_json = spark.read.json(path='/content/drive/MyDrive/data_practices/pyspark/data/*.json', multiLine=True)
multi_json.show()

+--------------------+----------------+----------------+-----------------+------+-------+
|                 bio|              id|        language|             name|people|version|
+--------------------+----------------+----------------+-----------------+------+-------+
|Donec lobortis el...|V59OF92YF627HFY0|          Sindhi|    Adeel Solangi|  NULL|    6.1|
|Aliquam sollicitu...|ENTOCR13RSCLZ6KU|          Sindhi|    Afzal Ghaffar|  NULL|   1.88|
|Vestibulum pharet...|IAKPO3R4761JDRVG|          Sindhi|    Aamir Solangi|  NULL|   7.27|
|Donec lobortis el...|5ZVOEPMJUI4MB4EN|          Uyghur|    Abla Dilmurat|  NULL|   2.53|
|Vivamus id faucib...|6VTI8X6LL0MMPJCC|          Uyghur|         Adil Eli|  NULL|   6.49|
|Duis commodo orci...|F2KEU5L7EHYSYFTT|          Uyghur|      Adile Qadir|  NULL|    1.9|
|Vivamus id faucib...|LO6DVTZLRK68528I|          Uyghur|Abdukerim Ibrahim|  NULL|    5.9|
|Etiam malesuada b...|LJRIULRNJFCNZJAJ|          Sindhi|        Adil Abro|  NULL|   9.32|
|Fusce eu ultrices...|JMCL0CXNXHPL1GBC|        Galician| Afonso Vilarchán|  NULL|   5.21|
|Nam laoreet, nunc...|KU4T500C830697CW|         Maltese|    Mark Schembri|  NULL|   3.17|
|Pellentesque mass...|XOF91ZR7MHV1TXRS|        Galician|    Antía Sixirei|  NULL|   6.44|
|Duis commodo orci...|FTSNV411G5MKLPDT|          Uyghur|   Aygul Mutellip|  NULL|    9.1|
|Nunc aliquet soda...|OJMWMEEQWMLDU29P|          Sindhi|     Awais Shaikh|  NULL|   1.59|
|Vestibulum ante i...|5G646V7E6TJW8X2M|          Sindhi|    Ambreen Ahmed|  NULL|   2.35|
|Nullam ac sodales...|Z53AJY7WUYPLAWC9|        Galician|      Celtia Anes|  NULL|   8.34|
|Phasellus tincidu...|N1AS6UFULO6WGTLB|         Maltese|    George Mifsud|  NULL|   7.47|
|Curabitur ultrici...|70RODUVRD95CLOJL|          Uyghur|     Aytürk Qasim|  NULL|   1.32|
|Maecenas non arcu...|VBLI24FKF7VV6BWE|Sesotho sa Leboa|       Dialè Meso|  NULL|   6.29|
|Integer vehicula,...|4VRLON0GPEZYFCVL|        Galician|    Breixo Galáns|  NULL|   1.62|
|Ut viverra quis e...|5DRDI1QLRGLP29RC|        Galician|     Bieito Lorme|  NULL|   4.45|
+--------------------+----------------+----------------+-----------------+------+-------+
only showing top 20 rows

In [ ]:
multi_json = spark.read.json(path=['/content/drive/MyDrive/data_practices/pyspark/data/file1.json','/content/drive/MyDrive/data_practices/pyspark/data/sample4.json'], multiLine=True)
multi_json.show()

+--------------------+----------------+----------------+-----------------+------+-------+
|                 bio|              id|        language|             name|people|version|
+--------------------+----------------+----------------+-----------------+------+-------+
|Donec lobortis el...|V59OF92YF627HFY0|          Sindhi|    Adeel Solangi|  NULL|    6.1|
|Aliquam sollicitu...|ENTOCR13RSCLZ6KU|          Sindhi|    Afzal Ghaffar|  NULL|   1.88|
|Vestibulum pharet...|IAKPO3R4761JDRVG|          Sindhi|    Aamir Solangi|  NULL|   7.27|
|Donec lobortis el...|5ZVOEPMJUI4MB4EN|          Uyghur|    Abla Dilmurat|  NULL|   2.53|
|Vivamus id faucib...|6VTI8X6LL0MMPJCC|          Uyghur|         Adil Eli|  NULL|   6.49|
|Duis commodo orci...|F2KEU5L7EHYSYFTT|          Uyghur|      Adile Qadir|  NULL|    1.9|
|Vivamus id faucib...|LO6DVTZLRK68528I|          Uyghur|Abdukerim Ibrahim|  NULL|    5.9|
|Etiam malesuada b...|LJRIULRNJFCNZJAJ|          Sindhi|        Adil Abro|  NULL|   9.32|
|Fusce eu ultrices...|JMCL0CXNXHPL1GBC|        Galician| Afonso Vilarchán|  NULL|   5.21|
|Nam laoreet, nunc...|KU4T500C830697CW|         Maltese|    Mark Schembri|  NULL|   3.17|
|Pellentesque mass...|XOF91ZR7MHV1TXRS|        Galician|    Antía Sixirei|  NULL|   6.44|
|Duis commodo orci...|FTSNV411G5MKLPDT|          Uyghur|   Aygul Mutellip|  NULL|    9.1|
|Nunc aliquet soda...|OJMWMEEQWMLDU29P|          Sindhi|     Awais Shaikh|  NULL|   1.59|
|Vestibulum ante i...|5G646V7E6TJW8X2M|          Sindhi|    Ambreen Ahmed|  NULL|   2.35|
|Nullam ac sodales...|Z53AJY7WUYPLAWC9|        Galician|      Celtia Anes|  NULL|   8.34|
|Phasellus tincidu...|N1AS6UFULO6WGTLB|         Maltese|    George Mifsud|  NULL|   7.47|
|Curabitur ultrici...|70RODUVRD95CLOJL|          Uyghur|     Aytürk Qasim|  NULL|   1.32|
|Maecenas non arcu...|VBLI24FKF7VV6BWE|Sesotho sa Leboa|       Dialè Meso|  NULL|   6.29|
|Integer vehicula,...|4VRLON0GPEZYFCVL|        Galician|    Breixo Galáns|  NULL|   1.62|
|Ut viverra quis e...|5DRDI1QLRGLP29RC|        Galician|     Bieito Lorme|  NULL|   4.45|
+--------------------+----------------+----------------+-----------------+------+-------+
only showing top 20 rows

In [ ]:
multi_json = spark.read.json(path='/content/drive/MyDrive/data_practices/pyspark/data/sample4.json', multiLine=True)
multi_json.show()

+---+---------+------+--------+----------+
|age|firstName|gender|lastName|    number|
+---+---------+------+--------+----------+
| 28|      Joe|  male| Jackson|7349282382|
| 32|    James|  male|   Smith|5678568567|
| 24|    Emily|female|   Jones| 456754675|
| 28|      Joe|  male| Jackson|7349282382|
| 32|    James|  male|   Smith|5678568567|
| 24|    Emily|female|   Jones| 456754675|
+---+---------+------+--------+----------+

In [ ]:
multi_json = spark.read.json(path=['/content/drive/MyDrive/data_practices/pyspark/data/sample4.json','/content/drive/MyDrive/data_practices/pyspark/data/file1.json'], multiLine=True)
multi_json.show()

+----+--------------------+---------+------+----------------+----------------+--------+-----------------+------+-------+
| age|                 bio|firstName|gender|              id|        language|lastName|             name|number|version|
+----+--------------------+---------+------+----------------+----------------+--------+-----------------+------+-------+
|NULL|Donec lobortis el...|     NULL|  NULL|V59OF92YF627HFY0|          Sindhi|    NULL|    Adeel Solangi|  NULL|    6.1|
|NULL|Aliquam sollicitu...|     NULL|  NULL|ENTOCR13RSCLZ6KU|          Sindhi|    NULL|    Afzal Ghaffar|  NULL|   1.88|
|NULL|Vestibulum pharet...|     NULL|  NULL|IAKPO3R4761JDRVG|          Sindhi|    NULL|    Aamir Solangi|  NULL|   7.27|
|NULL|Donec lobortis el...|     NULL|  NULL|5ZVOEPMJUI4MB4EN|          Uyghur|    NULL|    Abla Dilmurat|  NULL|   2.53|
|NULL|Vivamus id faucib...|     NULL|  NULL|6VTI8X6LL0MMPJCC|          Uyghur|    NULL|         Adil Eli|  NULL|   6.49|
|NULL|Duis commodo orci...|     NULL|  NULL|F2KEU5L7EHYSYFTT|          Uyghur|    NULL|      Adile Qadir|  NULL|    1.9|
|NULL|Vivamus id faucib...|     NULL|  NULL|LO6DVTZLRK68528I|          Uyghur|    NULL|Abdukerim Ibrahim|  NULL|    5.9|
|NULL|Etiam malesuada b...|     NULL|  NULL|LJRIULRNJFCNZJAJ|          Sindhi|    NULL|        Adil Abro|  NULL|   9.32|
|NULL|Fusce eu ultrices...|     NULL|  NULL|JMCL0CXNXHPL1GBC|        Galician|    NULL| Afonso Vilarchán|  NULL|   5.21|
|NULL|Nam laoreet, nunc...|     NULL|  NULL|KU4T500C830697CW|         Maltese|    NULL|    Mark Schembri|  NULL|   3.17|
|NULL|Pellentesque mass...|     NULL|  NULL|XOF91ZR7MHV1TXRS|        Galician|    NULL|    Antía Sixirei|  NULL|   6.44|
|NULL|Duis commodo orci...|     NULL|  NULL|FTSNV411G5MKLPDT|          Uyghur|    NULL|   Aygul Mutellip|  NULL|    9.1|
|NULL|Nunc aliquet soda...|     NULL|  NULL|OJMWMEEQWMLDU29P|          Sindhi|    NULL|     Awais Shaikh|  NULL|   1.59|
|NULL|Vestibulum ante i...|     NULL|  NULL|5G646V7E6TJW8X2M|          Sindhi|    NULL|    Ambreen Ahmed|  NULL|   2.35|
|NULL|Nullam ac sodales...|     NULL|  NULL|Z53AJY7WUYPLAWC9|        Galician|    NULL|      Celtia Anes|  NULL|   8.34|
|NULL|Phasellus tincidu...|     NULL|  NULL|N1AS6UFULO6WGTLB|         Maltese|    NULL|    George Mifsud|  NULL|   7.47|
|NULL|Curabitur ultrici...|     NULL|  NULL|70RODUVRD95CLOJL|          Uyghur|    NULL|     Aytürk Qasim|  NULL|   1.32|
|NULL|Maecenas non arcu...|     NULL|  NULL|VBLI24FKF7VV6BWE|Sesotho sa Leboa|    NULL|       Dialè Meso|  NULL|   6.29|
|NULL|Integer vehicula,...|     NULL|  NULL|4VRLON0GPEZYFCVL|        Galician|    NULL|    Breixo Galáns|  NULL|   1.62|
|NULL|Ut viverra quis e...|     NULL|  NULL|5DRDI1QLRGLP29RC|        Galician|    NULL|     Bieito Lorme|  NULL|   4.45|
+----+--------------------+---------+------+----------------+----------------+--------+-----------------+------+-------+
only showing top 20 rows

In [ ]:
multi_json = spark.read.json(path=['/content/drive/MyDrive/data_practices/pyspark/data/sample4.json','/content/drive/MyDrive/data_practices/pyspark/data/new.json'], multiLine=True)
multi_json.show()

+----+--------------------+-------------+------+----------------+--------+--------+----------+-------+
| age|                 bio|    firstName|gender|              id|language|lastName|    number|version|
+----+--------------------+-------------+------+----------------+--------+--------+----------+-------+
|NULL|Donec lobortis el...|Adeel Solangi|  NULL|V59OF92YF627HFY0|  Sindhi|    NULL|      NULL|    6.1|
|NULL|Aliquam sollicitu...|Afzal Ghaffar|  NULL|ENTOCR13RSCLZ6KU|  Sindhi|    NULL|      NULL|   1.88|
|NULL|Vestibulum pharet...|Aamir Solangi|  NULL|IAKPO3R4761JDRVG|  Sindhi|    NULL|      NULL|   7.27|
|NULL|Donec lobortis el...|Abla Dilmurat|  NULL|5ZVOEPMJUI4MB4EN|  Uyghur|    NULL|      NULL|   2.53|
|  28|                NULL|          Joe|  male|            NULL|    NULL| Jackson|7349282382|   NULL|
|  32|                NULL|        James|  male|            NULL|    NULL|   Smith|5678568567|   NULL|
|  24|                NULL|        Emily|female|            NULL|    NULL|   Jones| 456754675|   NULL|
|  28|                NULL|          Joe|  male|            NULL|    NULL| Jackson|7349282382|   NULL|
|  32|                NULL|        James|  male|            NULL|    NULL|   Smith|5678568567|   NULL|
|  24|                NULL|        Emily|female|            NULL|    NULL|   Jones| 456754675|   NULL|
+----+--------------------+-------------+------+----------------+--------+--------+----------+-------+

In [ ]:
multi_json.printSchema()

root
 |-- age: long (nullable = true)
 |-- bio: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: string (nullable = true)
 |-- language: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- number: string (nullable = true)
 |-- version: double (nullable = true)

Write DataFrame into Json

In [ ]:
wt=[(1,'milan',56),(2,'rahul',26),(3,'mihir',34),(4,'jay',21)]
schema=['id','name','age']
wd = spark.createDataFrame(data=wt,schema=schema)
wd.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|milan| 56|
|  2|rahul| 26|
|  3|mihir| 34|
|  4|  jay| 21|
+---+-----+---+

In [ ]:
wd.write.json("/content/drive/MyDrive/data_practices/pyspark/data/js")
wd.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|milan| 56|
|  2|rahul| 26|
|  3|mihir| 34|
|  4|  jay| 21|
+---+-----+---+

In [ ]:
wd.write.json("/content/drive/MyDrive/data_practices/pyspark/data/js",mode="append")
wd.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|milan| 56|
|  2|rahul| 26|
|  3|mihir| 34|
|  4|  jay| 21|
+---+-----+---+

In [ ]:
wd.write.json("/content/drive/MyDrive/data_practices/pyspark/data/js",mode="overwrite")
wd.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|milan| 56|
|  2|rahul| 26|
|  3|mihir| 34|
|  4|  jay| 21|
+---+-----+---+